@-webkit-keyframes slideInBothWays {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: 'MYRIADPRO REGULAR';
    font-style: normal;
    font-weight: normal;
    src: local('MYRIADPRO REGULAR'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed'), url('../fonts/MYRIADPRO-COND.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold Italic'), url('../fonts/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed Italic'), url('../fonts/MYRIADPRO-CONDIT.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Italic'), url('../fonts/MYRIADPRO-BOLDIT.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Bold Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed Italic'), url('../fonts/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed'), url('../fonts/MYRIADPRO-BOLDCOND.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
}

body,
.ionic-body {
    font-family: 'MYRIADPRO REGULAR' !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 input,
button,
select,
textarea {
    font-family: inherit !important;
}

.slide-in-both-ways {
    -webkit-animation: slideInBothWays ease-in 1;
    animation: slideInBothWays ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.center {
    text-align: center;
}

.popup_1 .button {
    font-size: 15px !important;
}

.icon-popup {
    width: 30px;
}


/* Empty. Add your own CSS if you like */

.loading-img {
    width: 100%;
    height: 100%;
}
.error-msg {
    background: #fb3d3d !important;
    color: white !important;
}
.loading-container .loading {
    padding: 0 !important;
    /*    width: 100% !important;*/
}

.bg-public {
    background: url('../img/bg.png') no-repeat;
    background-size: 100% 100%;
}

.item-slider {
    width: 100%;
    height: 160px;
}

.item {
    border-color: rgba(221, 221, 221, 0.19);
}

.item-options .button {
    min-width: 70px;
}

.load-zeokey {
    border-radius: 46px;
    border: 3px solid transparent;
}

.margin-title {
    margin-top: 35px;
    border-top: none;
}

.title-proof {
    border-top: none;
    margin-top: 0px;
}

.right-ic {
    right: 8px !important;
}

.notes-img {
    text-align: center;
    color: rgb(81, 77, 86);
}

.notes-img img {
    width: 86px;
    vertical-align: sub;
    transform: scale(0.9);
}

.checkbox .item {
    background-color: transparent !important;
    border: none;
}

.load-25 {
    border-right-color: #0a73d2;
}

.color-label {
    color: #bcbbbd !important;
}

.profil-pic {
    width: 100%;
    max-height: 300px;
    min-height: 150px;
    margin-bottom: 5px;
}

.profil-pic img {
    max-width: 100%;
    width: 100%
}

.profil-pic button {
    top: 20px;
    z-index: 99;
    right: 10px;
    color: rgba(255, 255, 255, 0.7) !important;
    position: absolute;
    border: 1px solid;
    border-radius: 50%;
}

.logout-txt {
    color: #d90f5b !important;
}

.load-50 {
    border-right-color: #0a73d2;
    border-bottom-color: #0a73d2;
}

.load-75 {
    border-right-color: #0a73d2;
    border-bottom-color: #0a73d2;
    border-left-color: #0a73d2;
}

.load-100 {
    border-top-color: #0a73d2;
    border-right-color: #0a73d2;
    border-bottom-color: #0a73d2;
    border-left-color: #0a73d2;
}

.title-dashboard {
    font-family: 'Myriad Pro Light';
    color: #fff;
    font-size: 22px;
    width: 80%;
    text-align: center;
    margin: auto;
    display: flex;
    height: 140px;
    line-height: 30px;
}

.title-dashboard span {
    margin: auto;
}

.text-slider {
    background: #fff;
    height: 80px;
    margin-top: -6px;
    margin-bottom: 45px;
}

.slider-pager .slider-pager-page {
    color: #fff
}

.public-profil .slider-pager {
    bottom: 0px !important;
}

.public-profil .slider-pager .slider-pager-page {
    color: #0a73d2;
}

.login-btn {
    border-radius: 25px;
    width: 90%;
    margin: 0 auto;
    margin-top: 29px;
    color: #0a73d2;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.title-item {
    color: #8cd5c1;
    font-weight: bold;
    text-align: center;
    margin: auto;
    display: block;
    width: 162px;
    font-size: 18px;
    padding-top: 10px;
}

.text-item {
    text-align: center;
    margin: auto;
    display: block;
    width: 154px;
    color: #8f8d92;
    font-size: 12px;
}

.title-page {
    font-family: 'Myriad Pro Bold';
    display: flex;
    text-align: center;
    color: #fff;
    font-size: 20px;
    height: 120px;
}

.title-home {
    height: 50px !important;
}

.delivery-icon {
    position: absolute;
    right: 11px;
    bottom: 7px;
    font-size: 26px;
}

.bell-has-notif {
    position: absolute !important;
    left: 5px;
    top: 1px !important;
    background-color: #fa3f55 !important;
    color: white;
    padding: 4px;    
    line-height: 9px;
}

.notifications-badge {
    position: absolute !important;
    top: 4px !important;
    left: 4px !important;
    border-radius: 100% !important;
    font-size: 12px;
    line-height: 10px;
    padding: 3px 3px;
    background: #fa3f55 !important;
    color: white !important;
    width: 15px;
    height: 15px;
}

.icon-has-updates {
    position: absolute;
    right: 14px;
    top: 9%;
    color: #0a73d2;
    font-size: 18px;
}

.register-page {
    font-family: 'Myriad Pro Bold';
    display: flex;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
}

.title-page span,
.register-page span {
    margin: auto;
}

.connect-fb {
    width: 45%;
    height: 42px;
    float: left;
    min-height: 1px;
    border-radius: 0px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    margin-right: 2px;
    margin-left: 5%;
    display: flex;
}

.sended-btn {
    width: 75px;
    height: 30px;
    border-radius: 0px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border: 1px solid #0a73d2 !important;
    color: #0a73d2 !important;
    border: 1px solid #0a73d2;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.connect-google {
    width: 45%;
    height: 42px;
    float: left;
    min-height: 1px;
    border-radius: 0px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    display: flex;
}

.recieved-btn {
    width: 75px;
    height: 30px;
    border-radius: 0px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border: 1px solid #0a73d2 !important;
    color: #0a73d2 !important;
    margin-left: -4px;
    display: inline-block;
}

.center-vertical {
    margin: auto;
}

.clear {
    clear: both
}

.item-floating-label .placeholder-icon {
    padding-right: 18px;
    position: absolute;
    bottom: 9px;
    left: 17px;
}

.item-floating-label {
    border: none;
    border-bottom: 1px solid #fff;
    width: 90%;
    margin: 0 auto;
}

.listHome .list {
    margin-bottom: 100px;
}

.item-proof {
    border-bottom: 1px solid #000 !important;
}

.item-floating-label span {
    color: #fff !important
}

.item-two-line {
    line-height: 1.5em;
    max-height: 3em;      
    overflow: hidden !important; 
    white-space: normal !important; 
    margin-right: 15px;
}

.label-email {
    margin-top: 70px;
}

.input-field {
    color: #fff !important
}

.input-field::-webkit-input-placeholder {
    color: #fff
}

.placeholder-icon {
    color: #56c0a5;
}

.button-input-close {
    position: absolute;
    right: 18px;
    top: 17px;
}

.item-search-input .item-input-wrapper {
    border-radius: 20px;
    background: rgba(238, 238, 238, 0.6);
}

.item-search-input label>i:before {
    padding: 4px 0px 0px 5px;
}

.input-proof {
    color: #000 !important
}

.input-proof::-webkit-input-placeholder {
    color: #000
}

.proof-title {
    text-align: center;
    position: relative;
    top: 15px;
    color: #fff;
    /*    font-weight: bold;*/
    font-size: 20px;
}

.title-page-color {
    color: #000 !important;
}

.connexion-btn {
    width: 90% !important;
    margin-top: 60px !important;
}

.connexion-register {
    width: 90% !important;
    margin-top: 20px !important;
}

.item-checkbox .checkbox {
    z-index: -1 !important;
}

.ion-more-vertical {
    font-size: 28px;
    height: 54px;
    width: 50px;
}


/* Section for Z botton menu*/

circular,
.circular {
    position: absolute;
    top: 94% !important;
    left: 50% !important;
}

.cn-wrapper li a {
    opacity: 1 !important;
}

.cn-wrapper {
    z-index: 0;
}


/*we do not need this button */

.button-close {
    top: 10px;
    right: 5px;
    z-index: 999;
    position: absolute;
    
}

.button-close i:before {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6), 4px 0px 5px 0 rgba(0, 0, 0, 0.6);
    border-radius: 68px;
    height: 27px;
    line-height: 29px !important;
}

.cn-button {
    display: none !important;
    z-index: 0 !important;
}

.button-clear.activated {
    opacity: 1 !important;
}

 .button.button-positive {
    background-color: #0a73d2;
    color: #fff; 
}


.button-bar > .button:last-child {
  border-radius: 0px 20px 20px 0px;
}
.button-bar > .button:first-child {
    border-radius: 20px 0px 0px 20px;
}

.button-bar > .button:first-child:nth-last-child(1) {
    border-radius: 30px !important;
}

.btn-clean.activated {
    -ms-transform: scale(0.9, 0.9);
    /* IE 9 */
    -webkit-transform: scale(0.9, 0.9);
    /* Chrome, Safari, Opera */
    transform: scale(0.9, 0.9);
}

.zeokay-img {
    width: 91px;
    padding: 0px;
    margin: 0px;
    transform: scale(0.92, 0.92);
    transform-style: preserve-3d;
}

.zbutton img {
    z-index: 0 !important;
    -ms-transform: scale(0.92, 0.92);
    ;
    /* IE 9 */
    -webkit-transform: scale(0.92, 0.92);
    /* Chrome, Safari, Opera */
    transform: scale(0.92, 0.92);
}

.zbutton.activated img {
    opacity: 0.9;
    z-index: 0 !important;
    -ms-transform: scale(0.85, 0.85);
    /* IE 9 */
    -webkit-transform: scale(0.85, 0.85);
    /* Chrome, Safari, Opera */
    transform: scale(0.85, 0.85);
}

.zbutton progress-arc,
.zprogress {
    position: absolute;
    padding: 3px;
    margin: 0px;
    z-index: 99 !important;
}

.poroof_progress {
    height: 3px;
    background: rgba(68, 68, 68, 0.32);
    width: 100%; 
    position: fixed; top: 0px;
    left: 0px;
    z-index: 999;
}

.poroof_progress  div {
    height: 3px;
    background: white;
    opacity: 0.9;
}

circle {
    /*stroke: rgba(0, 0, 0, 0.1);*/
    stroke-linecap: round;
    transition: stroke-dashoffset 0.1s linear;
}

.sbutton {
    z-index: 11 !important;
}

.btn-white {
    top: 9px;
    color: #fff !important;
}

.activated:before {
    box-shadow: none !important;
}

.zmenubutton:before {
    font-size: 22px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background: #d90f5b;
    width: 42px;
    height: 42px;
    line-height: 42px;
    list-style-type: none;
    margin: 40px;
    padding: 0;
}

.zmenublue:before {
    font-size: 21px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background: #0073d9;
    width: 42px;
    height: 42px;
    line-height: 42px;
    list-style-type: none;
    margin: 22px;
    padding: 0;
}


/* End Section for Z botton menu*/


/*Solution for the Directive*/

.item-content.disable-pointer-events {
    pointer-events: initial !important
}

.create-account-link {
    text-align: center;
    margin: 0 auto;
    color: white;
}

.center {
    text-align: center;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 100%;
}

.ng-valid-pattern .errorField {
    /*    display: none;*/
}

.errorField {
    color: #ef473a;
    text-align: right;
    padding-right: 20px;
    font-size: 12px !important;
}

.cgu-text {
    color: #fff;
    text-decoration: none;
}

.cgu-link {
    text-decoration: underline;
}

.back-btn {
    width: 20px;
    position: relative;
    top: 15px;
    left: 15px;
}

.close-btn {
    width: 20px;
    position: relative;
    top: 15px;
    left: 10px;
}

.home-img {
    width: 32px;
    float: left;
    margin: 10px;
}

.contact-img {
    width: 36px;
    height: 30px;
    float: left;
    margin: 10px;
}

.message-img {
    vertical-align: middle;
    height: 35px;
    margin: 0px 5px 0px 5px;
}

.tab-home {
    width: 100%;
    height: 100%;
}

.tab-home td {
    vertical-align: middle
}

.active-home {
    background-color: #0a73d2 !important;
    color: #fff !important;
}

.edit-user {
    left: 15px
}

.name-user {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
}

.header-home {
    height: 60px;
    min-height: 60px;
    padding: 0;
    background: #f7f7f7;
}

.table-header {
    width: 100%;
    min-height: 60px;
    height: 60px;
}

.td-1 {
    width: 10%;
}

.td-2 {
    width: 20%;
}

.owner-name {
    color: #afafaf;
    font-size: 13px !important;
    margin-top: 11px !important;
}

.td-15 {
    width: 15%;
}

.play-icon {
    position: relative;
    top: 30px;
    left: -49px;
    width: 20px;
}

.td-25 {
    width: 25%;
}

.td-6 {
    width: 60%;
}

.td-8 {
    width: 80%;
}

.item-video {
    max-height: 100px;
}

.item-video .item-content {
    padding: 1px;
}

.select-category {
    width: 60%;
    min-width: 60%;
}

.videoPlayer {
    max-width: 80px;
    float: left
}

.has-footer {
    bottom: 60px;
}

.info-video {
    float: left;
}

.bar-item-footer {
    height: 95px !important;
    background: linear-gradient(to top, #f7f7f7 0%, #f7f7f7 57%, transparent 50%, transparent 100%) !important;
    border: none !important;
}

.title-footer {
    height: 100% !important;
}

.td-footer {
    padding-top: 35px;
}

.connect-fb img {
    width: 90px;
}

.connect-google img {
    width: 90px;
}

.header-pages {
    width: 100%;
    height: 50px;
    background: #f7f7f7;
    -webkit-transition: .5s linear all;
    transition: .5s linear all;
}

.header-video {
    top: 0 !important;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-pages.home {
    height: 60px !important;
}

.header-pages .title {
    padding-top: 5px;
}

.header-pages .overflow-img {
    overflow: visible;
}

.header-pages .overflow-img img {
    bottom: -40px;
    position: fixed;
    margin-left: -40px;
}

.header-pages table {
    width: 100%;
    position: absolute;
}

.header-pages.white {
    background-color: rgba(255, 255, 255, 0.03);
    transition: .5s linear all;
    -webkit-transition: .5s linear all;
}

.header-pages.white button,
.header-pages.white h1 {
    color: white !important;
}

.has-header.has-header-false {
    top: inherit;
}

.infoProof {
    padding-bottom: 200px
}

.covert-proof {
    width: 100%;
    height: 170px;
    background: transparent;
}

.new-user-default {
    width: 85px;
    position: relative;
    bottom: 50px;
    z-index: 10;
}

.padding-title-log {
    height: 40px;
}

.padding-input-log {
    margin-top: 25px;
}

.padding-button-log {
    margin-top: 25px !important;
}

.new-user-pic {
    width: 85px;
    position: relative;
    bottom: 50px;
    border-radius: 49px;
    height: 85px;
    border: 2px solid #fff;
}

.edit-user-pic {
    width: 40px;
    position: relative;
    bottom: 47px;
    right: 13px;
    z-index: 11;
}

.img-user-search {
    width: 50px;
    float: left;
    margin-right: 15px;
    border-radius: 29px;
    height: 48px;
    background-color: #dedede;
}

.img-user-default {
    width: 50px;
    float: left;
    margin-right: 15px;
}

.no-user-container {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
}

.no-user-container p {
    font-weight: bold;
    font-size: 16px;
    margin-top: 24px;
}

.no-user-container img {
    width: 100px;
}

.no-user-container button {
    border: 1px solid;
}

.img-add-user {
    position: absolute;
    right: 17px;
    top: 30px;
    width: 27px;
    height: 27px;
    font-size: 22px;
}


/*.platform-ios.platform-cordova:not(.fullscreen) .table-header {
 margin-bottom: 20px;
 margin-top: 20px;
 padding-top: 20px;
}
.ios-statusbar-height {
height: 0px !important;
}
.platform-ios ion-view {
    margin-top: 20px !important;
}*/

.bubble {
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    width: 20px;
}

.me {
    background-color: #ebf8f4;
    float: left;
    margin: 5px 5px 5px 18px;
    width: 68%;
    float: left;
}

.pic-chat {
    width: 50px;
    float: left;
    margin-right: 12px;
    border-radius: 29px;
    height: 48px;
    margin-left: 12px;
}

.me::before {
    background-color: #ebf8f4;
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    left: -9px;
}

.you {
    background-color: #e1eefa;
    float: right;
    margin: 5px 20px 5px 45px;
}

.you::before {
    background-color: #e1eefa;
    box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, .4);
    right: -9px;
}

.btn-send {
    color: #0a73d2 !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.btn-clean {
    color: #000 !important;
    font-size: 15px !important;
    font-weight: bold !important;
}


/* reduce back icon size on header bar*/

.bar .button.button-clear .icon:before,
.bar .button.button-clear.icon:before,
.bar .button.button-clear.icon-left:before,
.bar .button.button-clear.icon-right:before,
.bar button.button-clear .icon:before,
.bar button.button-clear.icon:before,
.bar button.button-clear.icon-left:before,
.bar button.button-clear.icon-right:before {
    font-size: 24px !important;
}

.btn-outline {
    color: #fff !important;
    font-size: 15px !important;
    font-weight: bold !important;
}


/*.platform-ios ion-footer-bar {
  bottom: 20px;
}*/

.msg-footer-bar {
    padding: 0px;
    background: #f7f7f7 !important;
    height: 50px;
}

.msg-footer-bar .item-input-wrapper {
    margin-left: 2px;
    background: #fff;
    height: 80%;
}


/*Added by kamal to be cleaned */

.moyen-de-paiement {
    margin: 15px 0
}

.moyen-de-paiement .item {
    border-left: none;
    border-right: none;
    border-color: #848484;
    margin-left: 10px;
    margin-right: 10px
}

.moyen-de-paiement .item:first-child {
    border-top: none
}

.moyen-de-paiement img {
    width: 55px;
    height: 27px;
    padding-right: 15px;
    vertical-align: middle
}

.moyen-de-paiement p,
.moyen-de-paiement span {
    color: #3d3d3f
}

.moyen-de-paiement p {
    display: inline-block;
    padding-right: 25px;
    padding-top: 3px;
    vertical-align: top
}

.paiement .list {
    margin: 20px 15px 29px;
    border-bottom: 1px solid #ddd
}

.paiement .list .item-input {
    padding: 6px 0 5px
}

.paiement .list .item {
    padding: 0 4px;
    border-left: none;
    border-right: none;
    display: inline-block;
    width: 100%;
    border-bottom: 0
}

.paiement .list .item:first-child {
    border-top: none
}

.paiement .list .item .input-label {
    color: #3d3d3f;
    padding: 7px 6px 7px 2px;
    text-align: left;
    font-size: 12px;
    font-weight: bold !important;
    width: 53%
}

.paiement .list .item input {
    color: #000;
    text-align: right !important;
    padding-right: 5px;
    width: 47% !important
}

.paiement .transcation {
    text-transform: uppercase;
    font-weight: bold !important;
    color: #000;
    margin-top: 20px;
    text-align: center;
}

.paiement .transcation img {
    display: inline;
    height: 32px;
    padding-left: 15px;
    width: 65px;
    margin-right: -8px;
    transform: translateX(-17%);
    -webkit-transform: translatex(-17%)
}

.paiement .transcation p {
    margin: 0 0 13px
}

.paiement input.submit:focus {
    color: #000;
    pointer-events: none
}

.paiement .scan-icon {
    padding-right: 15px
}

.paiement button.scanBtn,
.paiement input.submit {
    width: 90%;
    height: 50px;
    margin: 0 auto 10px;
    border: 1px solid #0a73d2;
    background-color: transparent;
    -webkit-border-radius: 22px !important;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    padding: 0 32px 0 11px;
    color: #fff;
    overflow: hidden;
}

.scan-icon {
    width: 30px;
}

.paiement button.scanBtn {
    display: block;
    padding: 0;
    line-height: 50px;
    color: #0a73d2;
    margin-top: 25px;
    font-size: 15px;
    font-weight: bold;
    background: #fff
}

.paiement button.scanBtn:focus,
.paiement input.submit:focus {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: 0 !important
}

.paiement input.submit {
    display: block;
    padding: 0;
    background-color: #0a73d2;
    line-height: 50px
}

.paiement .list .item .input-label,
.paiement .list .item input {
    display: inline-block;
}


/* Begin media management */

@media only screen and (min-device-width:320px) and (max-device-width:568px) and (-webkit-device-pixel-ratio:2) and (device-aspect-ratio:40 / 71) {
    .recapitulatif .cards p {
        margin-right: 15px
    }
}

.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }
}

@media only screen and (max-height: 420px) {
    circular,
    .circular {
        top: 90% !important;
    }
}


/* Home title bar size management Iphon 4 */

@media only screen and (max-width: 350px) {
    .recieved-btn,
    .sended-btn {
        height: 23px !important;
        min-height: 23px !important;
        font-size: 11px !important;
        line-height: 26px !important;
    }
}


/* Icons size managelment Iphon 4 */

@media only screen and (max-width: 350px) {
    .message-img {
        height: 26px;
    }
}


/* Ened media management */

.user-video {
    border-radius: 5px;
    background-size: cover !important;
    text-align: left;
    position: relative;
}

.user-video .play {
    position: absolute;
    left: 50%;
    bottom: 50%;
}

.user-video .time {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    margin-left: 5px;
    bottom: 0;
    font-size: 11px;
}

.user-video .title {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    margin-left: 5px;
    bottom: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
}

.first-video {
    width: 94%;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 15px;
}

.second-video {
    width: 45%;
    height: 120px;
    float: left;
    margin-left: 3%;
}

.third-video {
    width: 45%;
    height: 120px;
    float: right;
    margin-right: 3%;
}

.video-take-pic {
    top: 120px;
    position: absolute;
    right: 15px;
    color: rgba(250, 250, 250, 0.83);
    z-index: 11;
    transform: scale(1, 1);
    border-radius: 50%;
    background: rgba(21, 16, 16, 0.4);
}

.video-gen-pic {
    top: 80px;
    position: absolute;
    right: 15px;
    color: rgba(250, 250, 250, 0.83);
    z-index: 11;
    transform: scale(1, 1);
    border-radius: 50%;
    background: rgba(21, 16, 16, 0.4);
}


/*End Add by kamal*/

vg-poster img {
    height: 100% !important;
    opacity: 0.5 !important;
}

.list-subsc {
    color: #0a73d2;
    list-style: inherit;
}

.list-subsc p {
    color: #a9a9a9
}


/*.list-subsc li:before {
    content: "• ";
    color: red;  or whatever color you prefer
}*/


/*ion-popover-view {
    height: 110px !important
}*/

.popover {
    height: auto !important;
}

.popover ion-header-bar {
    position: relative;
}

.popover ion-content {
    top: 0;
    position: relative;
}

.popup-buttons .ion-ios-camera-outline,
.popup-buttons .ion-android-drafts,
.popup-buttons .ion-close-circled {
    font-size: 28px;
}


/*
* Rating styles
*/

.rating {
    width: 226px;
    padding-right: 61px;
    font-size: 25px;
    overflow: hidden;
    text-align: center;
}

.rating a {
    color: #aaa;
    float: right;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating a:hover,
.rating a:hover~a,
.rating a:focus,
.rating a:focus~a {
    color: orange;
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

.rating2 a {
    float: none
}

.notation-dialog .popup-head {
    display: none
}

.popup-head * {
    color: #fff;
}

.popup-container .popup {
    border-radius: 10px !important;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 120%;
    line-height: 160%;
    text-align: center;
}

.popup-body p,
.popup-body label {
    color: #fff;
    font-size: 14px;
}

.popup-body textarea,
.popup-body input,
.popup-body select,
.popup-body button {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 0px;
    font-size: 14px;
}

.popup-buttons .button {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 0px;
    text-transform: uppercase;
}

.popup-buttons .button.activated {
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border: 0px;
}

.loading {
    border-radius: 10px !important;
}

.loading-container .loading {
    background: rgba(0, 0, 0, 0.6);
}


/* Utils */

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.margin-top0 {
    margin-top: 0px !important;
}

.margin-top10 {
    margin-top: 10px !important;
}

.margin-top-5 {
    margin-top: -5px !important;
}

.margin-top-10 {
    margin-top: -10px !important;
}

.margin-top15 {
    margin-top: 15px !important;
}

.margin-top20 {
    margin-top: 20px !important;
}

.margin-top-20 {
    margin-top: -20px !important;
}

.margin-left10 {
    margin-left: 10px !important;
}

.margin-left20 {
    margin-left: 20px !important;
}

.margin-bottom10 {
    margin-bottom: 10px !important;
}

.margin-bottom-5 {
    margin-bottom: -5px !important;
}

.margin-bottom-10 {
    margin-bottom: -10px !important;
}

.margin-bottom-15 {
    margin-bottom: -15px !important;
}

.margin-bottom-20 {
    margin-bottom: -20px !important;
}

.margin-right10 {
    margin-right: 10px !important;
}

.margin-right-10 {
    margin-right: -10px !important;
}

.padding-top10 {
    padding-top: 10px !important;
}

.clear-margin {
    margin: 0 !important;
}

.clear-border {
    border: 0 !important;
}

.clear-padding-margin {
    margin: 0 !important;
    padding: 0 !important;
}

.font-bold {
    font-weight: bold !important;
}

.font-size-150 {
    font-size: 150% !important;
}

.font-size-100 {
    font-size: 100% !important;
}

.font-size-85 {
    font-size: 85% !important;
}

.float-left {
    float: left !important;
}


/* Messages */

.spinner svg {
    width: 56px;
    height: 56px;
    stroke: #fff;
    fill: #fff;
}

.item-chat p a {
    text-decoration: none;
}

.messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.messages li {
    display: block;
    clear: both;
    max-width: 80%;
    margin: 0 0 1rem 0;
    padding: 0;
}

.messages p {
    border-radius: .75rem;
    background: #e6e5eb;
    color: #383641;
    padding: .6875rem;
    margin: 0;
    font-size: .875rem;
}

.messages img {
    display: block;
    border-radius: .75rem;
    min-width: 60px !important;
    min-height: 60px !important;
    object-fit: cover;
}

.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messages .other {
    float: right;
}

.messages .self {
    float: left;
}

.messages .other,
.messages .self {
    display: flex;
    margin: 0 0 1rem 0;
    padding: 0;
}

.messages .other a {
    text-decoration: none;
    font-weight: bold;
}

.messages .self a {
    text-decoration: none;
    font-weight: bold;
}

.messages .other .avatar,
.messages .self .avatar {
    height: 60px;
    min-width: 60px;
    width: 60px;
    min-height: 60px;
}

.messages .other .avatar img,
.messages .self .avatar img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 60px !important;
}

.messages .other .msg,
.messages .self .msg {
    margin-left: 10px;
}

.messages .other .msg p,
.messages .self .msg p {
    background: #ebf8f4;
    border-radius: .3rem;
    white-space: normal;
    font-size: .875rem;
    margin: 0;
    padding: .6875rem;
    position: relative;
}

.input_rounded {
    border-radius: 25px !important;
    background: #ebf8f4 !important;
    border: #fff 1px solid !important;
    color: #fff !important;
}

.input_txt {
    color: #fff !important;
}

.right_butt {
    border-right: #fff 1px solid !important;
    color: #fff !important;
}

.messages .other .msg p:after,
.messages .self .msg p:after {
    border-color: transparent #ebf8f4;
    border-style: solid;
    border-width: 6px 5px 6px 0;
    content: '';
    display: block;
    left: -5px;
    position: absolute;
    top: 8px;
    width: 0;
    z-index: 1;
}

.messages .other .msg img,
.messages .self .msg img {
    display: block;
    border-radius: .75rem;
    max-width: 265px;
    max-height: 150px;
}

.messages .other .msg time,
.messages .self .msg time {
    color: #A1A1A1;
    float: right;
    font-size: 0.8rem;
    margin-top: 3px;
}

.messages .other {
    justify-content: flex-end;
}

.messages .other .avatar {
    order: 2;
}

.messages .other .msg {
    margin-left: inherit;
    margin-right: 10px;
}

.messages .other .msg p {
    background: #e1eefa;
    color: #6f6f6f;
    order: 1;
}

.messages .other .msg p:after {
    border-color: transparent #e1eefa;
    border-width: 6px 0 6px 5px;
    left: inherit;
    right: -5px;
}

.messages .other .msg img {
    order: 1;
}

.messages .self .msg time {
    float: right;
}

.messages .other .msg time {
    float: left;
}

.scroll-bar-indicator {
    display: none;
}

.image-popup .popup {
    text-align: center;
    width: 100% !important;
    height: auto !important;
    background: rgba(0, 0, 0, 1);
}

.image-popup .popup-head {
    display: none;
}

.image-popup .popup-buttons {
    position: absolute;
    top: -2.5% !important;
    left: 85% !important;
}

.image-popup .button-confirm {
    color: rgba(255, 255, 255, 0.75);
    background: none;
    border: 0px;

}

.message-confirm .popup-head {
    border: 0px !important;
}

.message-confirm .popup-title {
    color: #fff;
    font-size: 200%;
    margin-bottom: -20px;
}

.message-confirm .button-confirm {
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 0px;
    font-size: 13px;
    text-transform: uppercase;
}

.message-confirm .popup {
    width: 225px !important;
    height: auto !important;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 10px !important;
    font-size: 120%;
    line-height: 160%;
    text-align: center;
}

.message-popup {
    width: 225px;
    height: auto;
    border-radius: 50px !important;
    padding: 5px;
    background: transparent;
}

.message-popup p {
    line-height: 160%;
    font-size: 110%;
}

.message-confirm .popup-head {
    border: 0px !important;
}

.message-confirm .popup-title {
    color: #fff;
    font-size: 200%;
    margin-bottom: -20px;
}

.profilePic {
    width: 96px;
    height: auto;
    border-radius: 150px;
    margin-top: 75px;
}

#custom-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-image: -moz-linear-gradient( 131deg, rgb(4, 109, 214) 0%, rgb(68, 173, 177) 32%, rgb(131, 237, 139) 100%);
    background-image: -webkit-linear-gradient( 131deg, rgb(4, 109, 214) 0%, rgb(68, 173, 177) 32%, rgb(131, 237, 139) 100%);
    background-image: -ms-linear-gradient( 131deg, rgb(4, 109, 214) 0%, rgb(68, 173, 177) 32%, rgb(131, 237, 139) 100%);
    position: absolute;
}

#custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.videothumb::before {
    content: '';
    opacity: .4;
    background: url(../img/icons/play-icon.png) no-repeat center center;
    background-size: 100px;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 10;
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
}

.home-video {
    background-size: cover;
    overflow: hidden;
    height: 79px;
    width: 83px;
    border-radius: 8px;
    float: left;
    margin-right: 10px;
    background-color: #dedede;
}

.input-number .value-down-button,
.input-number .value-up-button {
    min-height: 0px;
    height: 30px;
    line-height: 30px;
    padding: 0px 8px;
    min-width: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.input-number .value-down-button::before,
.input-number .value-up-button::before {
    font-size: 14px;
    line-height: 28px;
    margin: 0px !important;
    padding: 0px;
    color: #0a73d2;
}

.input-number .button {
    border: 1px solid #0a73d2;
    background-color: #FFF;
}

.input-number .button:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: none;
}

.input-number .button:first-child::after {
    top: 4px;
    right: 0px;
    bottom: 4px;
    border-right: 1px solid #0a73d2;
}

.input-number .button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
}

.input-number .button:last-child::after {
    top: 4px;
    bottom: 4px;
    left: 0px;
}

.btn-proof {
    background-color: #0a73d2 !important;
    color: #fff !important;
}

.notif-actif {
    background: #dedede;
}


/* Styling an indeterminate progress bar */

progress:not(value) {
    /* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}


/* Styling the determinate progress element */

progress[value] {
    /* Get rid of the default appearance */
    appearance: none;
    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;
    /* Add dimensions */
    width: 100%;
    height: 20px;
    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
    color: royalblue;
    position: relative;
    margin: 0 0 1.5em;
}


/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
}

progress[value]::-webkit-progress-value {
    position: relative;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 3px;
    /* Let's animate this */
    animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes {
    100% {
        background-position: -100px 0;
    }
}


/* Let's spice up things little bit by using pseudo elements. */

progress[value]::-webkit-progress-value:after {
    /* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 7px;
    right: 7px;
    background-color: white;
    border-radius: 100%;
}


/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */

progress[value]::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image: -moz-linear-gradient( 135deg, transparent, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -moz-linear-gradient( top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .2)), -moz-linear-gradient( left, #09c, #f44);
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 3px;
    /* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}


/* Fallback technique styles */

.progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
    /* Dimensions should be similar to the parent progress element. */
    width: 100%;
    height: 20px;
}

.progress-bar span {
    background-color: royalblue;
    border-radius: 3px;
    display: block;
    text-indent: -9999px;
}

p[data-value] {
    position: absolute;
    height: 15px;
    margin-left: 22px;
    top: 2px;
    color: black;
    z-index: 9999;
    font-size: 12px;
}


/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

p[data-value]:after {
    content: attr(data-value) '%';
    position: absolute;
    right: 0;
}

.progress::-webkit-progress-value {
    /* Gradient background with Stripes */
    background-image: -webkit-linear-gradient( 135deg, transparent, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient( top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .2)), -webkit-linear-gradient( left, #09c, #f44);
}

.default-card {
    display: block !important;
}

/*  MD chips css */
chip-tmpl {
    display: inline-block;
    margin: 0 5px 5px 0;
}
.default-chip {
    border: 2px solid #e0e0e0;
    border-radius: 30px;
    background: #e0e0e0;
    padding: 4px 10px 2px 10px;
}
chip-tmpl:focus {
    outline: none;
}
chip-tmpl:focus .default-chip {
    border: 2px solid #9e9e9e;
    background: #9e9e9e;
    color: white;
}
.chip-failed .default-chip {
    color: red;
}
chips {
    display: block;
    padding: 5px;
}
chips > div {
    display: inline;
}
chips > div > input {
    height: 100%;
    border: none;
    font-size: 14px;
}
chips > div > input:focus {
    outline: none;
}
.chip-out-focus {
    border-bottom: 1px solid #e0e0e0;
}
.chip-in-focus {
    border-bottom: 1px solid #106cc8;
}

.icon_facebook {
    background: url(http://zeokay.com/wp-content/plugins/social-media-widgets/assets/img/icon_facebook.png) no-repeat;
    width: 40px;
    height: 40px;
    float: left;
}
 .icon_facebook:hover {
    
}
.icon_g-plus {
    background: url(http://zeokay.com/wp-content/plugins/social-media-widgets/assets/img/icon_g-plus.png) no-repeat;
    width: 40px;
    height: 40px;
    float: left;
        display:none;
}
.icon_g-plus:hover {
    
}
 .icon_twitter {
    background: url(http://zeokay.com/wp-content/plugins/social-media-widgets/assets/img/icon_twitter.png) no-repeat;
    width: 40px;
    height: 40px;
    float: left;
}
.icon_twitter:hover {
    
}
.icon_pinterest {
    background: url(http://zeokay.com/wp-content/plugins/social-media-widgets/assets/img/icon_g-plus.png) no-repeat;
    width: 40px;
    height: 40px;
    float: left;
}

.ion-android-arrow-dropup-circle:before {
content:url(http://zeokay.com/wp-content/themes/nt-advent/images/reseau.png) !important;
    background-size: cover;
}
.ion-cube:before {
content:url(http://zeokay.com/wp-content/themes/nt-advent/images/structurer.png) !important;
    background-size: cover;
}
.ion-cube:before {
content:url(http://zeokay.com/wp-content/themes/nt-advent/images/structurer.png) !important;
    background-size: cover;
}
.ion-android-notifications:before{
content:url(http://zeokay.com/wp-content/themes/nt-advent/images/organiser.png) !important;
    background-size: cover;
}
.ion-ios-eye:before{
content:url(http://zeokay.com/wp-content/themes/nt-advent/images/collaboratif.png) !important;
    background-size: cover;
}

.ion-xbox:before {
  content:url(http://zeokay.com/wp-content/themes/nt-advent/images/down-arrow.png) !important;
    background-size: cover;
}
.ion-social-html5-outline:before {
  content:url(http://zeokay.com/wp-content/themes/nt-advent/images/euro-sign.png) !important;
    background-size: cover;
}

.ion-steam:before{
  content:url(http://zeokay.com/wp-content/themes/nt-advent/images/road-map.png) !important;
    background-size: cover;
}

.ion-social-instagram-outline:before{
  content:url(http://zeokay.com/wp-content/themes/nt-advent/images/checked.png) !important;
    background-size: cover;
}
.ion-social-github:before{
  content:url(http://zeokay.com/wp-content/themes/nt-advent/images/connector.png) !important;
    background-size: cover;
}
.ion-social-dropbox:before{
  content:url(http://zeokay.com/wp-content/themes/nt-advent/images/lock.png) !important;
    background-size: cover;
}

.bar.tansparent {
    background-color: transparent;
    background-image: none;
}

.header-about {
    background:url(../img/slide1.png) no-repeat;
    background-size: 100%;
    top: 0px;
}

.header-help {
    background:url(../img/proof_covert.png) no-repeat;
    background-size: 120%;
    top: 0px;
}
.header-cgv {
    background:url(../img/slide5.png) no-repeat;
    background-size: 170%;
    top: 0px;
}
.header-cgu {
    background:url(../img/slide4.png) no-repeat;
    background-size: 170%;
    top: 0px;
}
.header-white > button h1 {
    color: white !important;
}

.container p, 
.container li {
    text-align: justify;
    text-justify: inter-word;
}

.wpb_wrapper {
    padding: 20px 20px 20px 20px;
    margin-top: 170px; 
    background-color: white;
}
