<ion-view view-title="Paiement" cache-view="false">
    <ion-header-bar align-title="center" class="header-pages">
        <div class="buttons">
            <button class="button button-clear btn-clean" ng-click="goTo(priviousUrl)"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">{{'ADD_CARD'| translate}}</h1>
        <button class="button button-clear btn-clean" ng-click="goTo('home')"><i class="icon ion-ios-close-outline"></i></button>        
    </ion-header-bar>
    <ion-content class=" has-header">
        <div class="paiement">
            <form id="signupform" name="paymentForm" ng-model="paymentForm" load-tab>
                <button class="scanBtn" type="button" id="scanBtn" ng-click="scanpay()"><img class="scan-icon" src="img/scan.png"></i>Scannez votre carte </button>
                <div class="list">
                    <label class="item item-input" for="card_titu">
                        <span class="input-label">Titulaire de la carte</span>
                        <input type="text" id="card_titu" placeholder="Prénom et Nom" class="{{cardstatus}}" required ng-model="newcard.ownername" name="ownername">
                    </label>
                    <label class="item item-input" for="cardnumber">
                        <span class="input-label">Numéro de carte</span>

                        <input type="text" placeholder="15 chiffres ou 16" id="cardnumber" class="{{cardstatus}}" required ng-model="newcard.cardnumber" name="cardnumber" ng-minlength="15" ng-maxlength="16" ng-pattern="/^[0-9]+$/" ng-focus="clear($event)">
                    </label>
                    <div ng-messages="paymentForm.cardnumber.$error" role="alert" ng-if='paymentForm.cardnumber.$dirty'>
                        <div ng-message-exp="['required', 'pattern', 'minlength', 'maxlength']" class='errorField'>
                            Format invalide
                        </div>
                    </div>
                    <label class="item item-input" for="expiredate">
                        <span class="input-label">Date d'expiration</span>
                        <input type="text" placeholder="mm/aa" id="expiredate" class="{{datestatus}}" required ng-model="newcard.expiredate" name="expiredate" ng-pattern="/^((0[1-9]|1[012])([0-9]{2}|[0-9]{4}))|((0[1-9]|1[012])\/([0-9]{2}|[0-9]{4}))$/" ng-focus="clear($event)" ng-class="paymentForm.expiredate.$error.pattern || paymentForm.expiredate.$error.required ? 'error' : 'success'" maxlength="7"><!-- ng-pattern="/^(0[1-9]|1[012])[0-9]{2}$/" -->
                    </label>
                    <div ng-messages="paymentForm.expiredate.$error" role="alert" ng-if='paymentForm.expiredate.$dirty'>
                        <div ng-message-exp="['required', 'pattern']" class='errorField'>
                            Format invalide
                        </div>
                    </div>
                    <label class="item item-input" for="snumber">
                        <span class="input-label">Cryptogramme</span>
                        <input type="text" placeholder="3 chiffres ou 4" id="snumber" class="{{securitystatus}}"  required ng-model="newcard.snumber" name="snumber" ng-minlength="3" ng-maxlength="4" ng-pattern="/^[0-9]+$/" ng-focus="clear($event)" ng-class="paymentForm.snumber.$error.minlength || paymentForm.snumber.$error.maxlength || paymentForm.snumber.$error.pattern || paymentForm.snumber.$error.required ? 'error' : 'success'">
                    </label>
                    <div ng-messages="paymentForm.snumber.$error" role="alert" ng-if='paymentForm.snumber.$dirty'>
                        <div ng-message-exp="['required', 'pattern', 'minlength', 'maxlength']" class='errorField'>
                            Format invalide
                        </div>
                    </div>
                </div>
                <input class="button submit" ng-disabled="!paymentForm.$valid" type="submit" value="Ajouter" ng-click="submitNewCreditCard(newcard, paymentForm)">
            </form>
            <div class="transcation">
                <p style="font-size: 11px;">TRANSACTION 100% SÉCURISÉE</p>
                <img src="img/amex-card.png" alt="amex"/>
                <img src="img/cb-card.png" alt="cd"/>
                <img src="img/visa-card.png" alt="visa"/>
                <img src="img/master-card.png" alt="master"/>
            </div>
        </div>
    </ion-content>
</ion-view>
