<ion-view cache-view="true" view-title="Help" class="header-cgu">
    <ion-header-bar align-title="center" class="bar bar-dark tansparent">
        <div class="buttons">
            <button ng-if="priviousUrl" class="button button-clear" ng-click="goTo(priviousUrl)">
                <i class="icon ion-android-arrow-back">
                </i>
            </button>
        </div>
        <h1 class="title">
            {{'CGU'| translate}}
        </h1>
        <button class="button button-clear" ng-click="goTo('home')">
            <i class="icon ion-ios-close-outline">
            </i>
        </button>
    </ion-header-bar>
    <ion-content has-bouncing="false" overflow-scroll="true">
        <div class="wpb_wrapper">
            <div class="pitch text-center" id="concept">
                <div class="container">
                    <div class="entry-content">
                        <h1>
                            Conditions générales d’utilisation
                        </h1>
                        <p>
                        </p>
                        <p>
                        </p>
                        <h2>
                            <strong>
                                Informations légales
                            </strong>
                        </h2>
                        <p>
                            L’application ZeOkay, ci-après dénommé « ZeOkay » propose un service de dépôt de Preuve et de consultation vidéo sur mobile plus spécifiquement destiné aux particuliers.
                        </p>
                        <p>
                            L’accès à l’application, sa consultation et son utilisation sont subordonnés à l’acceptation sans réserve des présentes Conditions Générales d’Utilisation de ZeOkay.
                        </p>
                        <p>
                            L’application est éditée par L’entreprise CHARFEDDINE, immatriculée au registre du commerce et des sociétés de Paris sous le numéro 820 756 575 RCS Evry.
                            <u>
                                Siège social
                            </u>
                            : 1 Avenue Jean Coquelin – 91170 Viry-Châtillon.
                        </p>
                        <p>
                            Le CEO de l’application est Monsieur CHARFEDDINE ZYED.
                        </p>
                        <p>
                            Pour toute question sur l’entreprise, vous pouvez nous envoyer vos questions par mail à hello@zeokay.com
                        </p>
                        <p>
                            <strong>
                                Un service réquisition répond uniquement aux demandes des autorités publiques (gendarmerie, police…).
                            </strong>
                        </p>
                        <p>
                            Pour toute demande
                            <u>
                                ne provenant pas des autorités publiques
                            </u>
                            , nous vous invitons à utiliser notre formulaire de Contact en cliquant sur le mail ZeOkay. Vous pourrez alors sélectionner la raison et expliquer votre situation en détail. L’équipe dédiée prendra alors toutes les mesures nécessaires. (Le délai de réponse est d’environ 24h les jours ouvrés).
                        </p>
                        <p>
                            <strong>
                                Nous vous transmettrons les informations demandées dans les meilleurs délais. Ces recherches sont effectuées à titre gracieux.
                            </strong>
                        </p>
                        <p>
                            <strong>
                                Pour simplifier nos procédures, merci de bien vouloir indiquer dans votre réquisition l’adresse email à laquelle vous faire parvenir notre réponse.
                            </strong>
                        </p>
                        <p>
                        </p>
                        <h2>
                            <strong>
                                CONDITIONS GENERALES D’UTILISATION DU SERVICE ZeOkay
                            </strong>
                        </h2>
                        <p>
                            Chacun des termes mentionnés ci-dessous aura dans les présentes Conditions Générales d’Utilisation du Service ZeOkay (ci-après dénommées les  » CGU « ) la signification suivante :
                        </p>
                        <p>
                            <strong>
                                Preuve
                            </strong>
                            : désigne l’ensemble des éléments et données (visuelles, textuelles, sonores, photographies, dessins), déposé par un Utilisateur sous sa responsabilité éditoriale, en vue d’acheter ou de vendre un bien et diffusé sur l’Applications.
                        </p>
                        <p>
                            <strong>
                                Utilisateur
                            </strong>
                            : désigne toute personne Physique majeure ou personne Morale établie en France (inclus les DOM à l’exclusion de Mayotte et des COM), titulaire d’un Compte Pro ou Personnel, et ayant déposé une preuve via le Service ZeOkay. Le terme « Utilisateur » regroupe dans les CGU un types d’utilisateur déposant des preuves via le service ZeOkay, à savoir :
                        </p>
                        <p>
                        </p>
                        <ul>
                            <li>
                                <strong>
                                    L’Utilisateur « Particulier »
                                </strong>
                                : qui s’entend de toute personne physique majeure, agissant exclusivement à des fins privées établie en France (inclus les DOM à l’exclusion de Mayotte et des COM) et ayant déposé une preuve à partir de l’Applications. Tout Utilisateur Particulier doit impérativement être titulaire d’un Compte Personnel pour déposer et gérer sa ou ses Preuves.
                            </li>
                        </ul>
                        <p>
                            <strong>
                                Applications
                            </strong>
                            : désigne l’application Android téléchargeable gratuitement sur un téléphone Android depuis le Google Play Store, et l’application optimisée pour iPhone et iPad téléchargeable depuis l’App Store d’Apple gratuitement sur un iPhone ou un iPad disposant a minima, de la version iOS 7 pour iPhone, ou de la version iOS 8 pour iPad, permettant aux Utilisateurs et aux Utilisateurs d’accéder au service ZeOkay tel que défini à l’article 3.1 des présentes CGU.
                        </p>
                        <p>
                            <strong>
                                Compte Personnel
                            </strong>
                            : désigne l’espace gratuit, accessible depuis l’Application, que tout Utilisateur Particulier doit se créer, et à partir duquel il peut diffuser, gérer, visualiser ses preuves, souscrire à une ou des option(s) payante(s) et abonnement.
                        </p>
                        <p>
                            <strong>
                                ZeOkay
                            </strong>
                            : désigne la société qui édite et exploite l’Application : ZeOkay, immatriculée au registre du commerce et des sociétés de Paris sous le numéro 820.756.575, dont le siège social est situé 1 Avenue Jean Coquelin 91170 Viry-Châtillon.
                        </p>
                        <p>
                            <strong>
                                Service ZeOkay
                            </strong>
                            : désigne les services ZeOkay mis à la disposition des Utilisateurs sur l’Applications tels que décrits à l’article 3.1 des présentes CGU.
                        </p>
                        <p>
                            <strong>
                                Application mobile :
                            </strong>
                            désigne l’application mobile exploité par ZeOkay accessible principalement depuis un smartphone et permettant aux Utilisateurs d’accéder via l’application au Service ZeOkay décrit à l’article 3.1 des présentes CGU.
                        </p>
                        <p>
                            <strong>
                                Utilisateur
                            </strong>
                            : désigne tout personne physique, ayant accès au Service ZeOkay via l’Application ZeOkay, accessible depuis les différents supports.
                        </p>
                        <p>
                            <strong>
                                <u>
                                    Article 1 : Objets.
                                </u>
                            </strong>
                        </p>
                        <p>
                            Les CGU ont pour objet de déterminer les conditions d’utilisation du Service ZeOkay mis à disposition des Utilisateurs via l’Application.
                        </p>
                        <p>
                            Les conditions de souscription par les Utilisateurs aux options payantes et abonnement (dénommées ci-après  » Options Payantes » et  » Abonnement ») sont fixées dans les conditions générales de vente réservées :
                        </p>
                        <ul>
                            <li>
                                Aux Utilisateurs Particuliers (« CGV » )
                            </li>
                        </ul>
                        <p>
                            <strong>
                                <u>
                                    Article 2 : Acceptation.
                                </u>
                            </strong>
                        </p>
                        <p>
                            Tout Utilisateur déclare en accédant et utilisant le service ZeOkay, depuis l’Application, avoir pris connaissance des présentes Conditions Générales d’Utilisation, du Règlement d’Utilisation et les accepter expressément sans réserve et/ou modification de quelque nature que ce soit. Les présentes CGU sont donc pleinement opposables aux Utilisateurs.
                        </p>
                        <p>
                        </p>
                        <p>
                        </p>
                        <p>
                        </p>
                        <p>
                            <strong>
                                <u>
                                    Article 3 : Utilisation du service ZeOkay.
                                </u>
                            </strong>
                        </p>
                        <p>
                            <strong>
                                3.1 Description du Service ZeOkay
                            </strong>
                        </p>
                        <p>
                            <strong>
                                3.1.1 Règles générales
                            </strong>
                        </p>
                        <p>
                            Tout Utilisateur déclare être informé qu’il devra, pour accéder au Service ZeOkay, disposer d’un accès à l’Internet souscrit auprès du fournisseur de son choix, dont le coût est à sa charge, et reconnaît que :
                        </p>
                        <ul>
                            <li>
                                La fiabilité des transmissions est aléatoire en raison, notamment, du caractère hétérogène des infrastructures et réseaux sur lesquelles elles circulent et que, en particulier, des pannes ou saturations peuvent intervenir ;
                            </li>
                            <li>
                                Il appartient à l’Utilisateur de prendre toute mesure qu’il jugera appropriée pour assurer la sécurité de son équipement et de ses propres données, logiciels ou autres, notamment contre la contamination par tout virus et/ou de tentative d’intrusion dont il pourrait être victime ;
                            </li>
                            <li>
                                Tout équipement connecté à l’Application est et reste sous l’entière responsabilité de l’Utilisateur, la responsabilité de ZeOkay ne pourra pas être recherchée pour tout dommage direct ou indirect qui pourrait subvenir du fait de leur connexion a l’application mobile.
                            </li>
                        </ul>
                        <p>
                            L’Utilisateur s’engage, le cas échéant, à respecter et à maintenir la confidentialité des Identifiants de connexion à son Compte Personnel et reconnaît expressément que toute connexion à son Compte Personnel, ainsi que toute transmission de données depuis son Compte Personnel sera réputée avoir été effectuée par l’Utilisateur.
                        </p>
                        <p>
                            Toute perte, détournement ou utilisation des Identifiants de connexion et leurs éventuelles conséquences relèvent de la seule et entière responsabilité de l’Utilisateur.
                        </p>
                        <p>
                            L’Utilisateur est informé et accepte que pour des raisons d’ordre technique, sa preuve risque de ne pas être diffusée instantanément après son dépôt sur l’Application.
                        </p>
                        <p>
                            L’Utilisateur est informé qu’en publiant sa ou ses Preuve(s) sur le profil de l’application, celle-ci est susceptible d’être consulté par tout Utilisateur concerné par un compte ZeOkay.
                        </p>
                        <p>
                            <strong>
                                3.2 Description du service
                            </strong>
                        </p>
                        <p>
                            Le Service ZeOkay proposé aux Utilisateurs varie en fonction de la qualité de l’Utilisation et du support de communication utilisé. (Application)
                        </p>
                        <p>
                            <strong>
                                1)    Fonctionnalités accessibles aux Utilisateurs depuis l’Applications
                            </strong>
                        </p>
                        <p>
                            La consultation de toutes les Preuves diffusées
                        </p>
                        <p>
                            La mise en contact avec les Utilisateurs
                        </p>
                        <p>
                            La possibilité de conseiller un Utilisateur à un contact
                        </p>
                        <p>
                            Signaler un abus
                        </p>
                        <p>
                            La sauvegarde d’une preuve
                        </p>
                        <p>
                            La sauvegarde de mes Historiques
                        </p>
                        <p>
                            La possibilité d’enregistrer le contact de l’Utilisateur dans son Smartphone (uniquement depuis l’Applications)
                        </p>
                        <p>
                            La géolocalisation des preuves envoyée (uniquement depuis l’Application)
                        </p>
                        <p>
                            <strong>
                                2)    Fonctionnalités accessibles depuis l’Application aux Utilisateurs.
                            </strong>
                        </p>
                        <p>
                            La Capture d’une preuve
                        </p>
                        <p>
                            L’accès à l’espace  » Archive » :
                        </p>
                        <ul>
                            <li>
                                La téléchargement d’une Preuve
                            </li>
                            <li>
                                La recherche automatique d’une preuve
                            </li>
                            <li>
                                L’envoi d’une preuve
                            </li>
                            <li>
                                La lecture d’une preuve
                            </li>
                            <li>
                                La suppression d’une preuve : il est possible de supprimer plusieurs preuves en une action
                            </li>
                            <li>
                                La prolongation des preuves à l’issue de la durée maximale de 10 jours sans abonnement.
                            </li>
                        </ul>
                        <p>
                            La gestion des actions via le tableau de bord du compte Personnel :
                        </p>
                        <ul>
                            <li>
                                La souscription d’Option(s) Payante(s) par carte bancaire et/ou par crédits
                            </li>
                            <li>
                                La souscription d’un abonnement par carte bancaire
                            </li>
                        </ul>
                        <p>
                            L’accès et la gestion du Compte Personnel :
                        </p>
                        <ul>
                            <li>
                                La gestion (actualisation, modification etc.), à tout moment, des informations personnelles renseignées lors de la création du Compte Personnel :
                                <ul>
                                    <li>
                                        Informations obligatoires : nom, prénom, email, mot de passe
                                    </li>
                                    <li>
                                        Informations facultatives : civilité, âge, centre d’intérêt, secteur d’activité, numéro de téléphone etc.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <p>
                            Le suivi des :
                        </p>
                        <ul>
                            <li>
                                Options Payantes souscrites ;
                            </li>
                            <li>
                                Abonnement souscrit.
                            </li>
                        </ul>
                        <p>
                            <strong>
                                3.3. Cookies et Géolocalisation
                            </strong>
                        </p>
                        <p>
                            Afin de faciliter la navigation sur l’application, des cookies peuvent être implantés dans le support de communication (notamment ordinateur, téléphone mobile, tablette numérique) des Utilisateurs afin par exemple de conserver leurs critères de recherche, de pré remplir le formulaire de compte (mail/téléphone).
                        </p>
                        <p>
                            Pour comprendre notre politique en matière de publicité et d’utilisation des cookies sur notre site et connaître les choix qui vous sont offerts, merci de consulter notre page « Vos Cookies ».
                        </p>
                        <p>
                            <strong>
                                3.4 Protection, collecte, utilisation et communication des données personnelles
                            </strong>
                        </p>
                        <p>
                            3.4.1 : Protection des données personnelles
                        </p>
                        <p>
                            Conformément à la loi nº78-17 du 6 janvier 1978, dite  » Informatique et libertés « , ZeOkay a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés (C.N.I.L) sous le numéro : 1421352.
                        </p>
                        <p>
                            Conformément aux articles 38, 39 et 40 de la loi nº78-17 du 6 janvier 1978, tout Utilisateur Particulier (agissant exclusivement à des fins privées et non commerciales) du Service ZeOkay, disposent à tout moment d’un droit d’opposition, d’accès, de rectification, de suppression ainsi que d’opposition au traitement des données le concernant.
                        </p>
                        <p>
                            L’Utilisateur Particulier peuvent exercer ce droit en contactant ZeOkay via la rubrique « contact », présente sur l’Application.
                        </p>
                        <p>
                            Par ailleurs, afin d’informer tout tiers que l’Utilisateur refuse que ses données personnelles soient utilisées à des fins de démarchage commercial, ZeOkay propose à l’Utilisateur d’indiquer dans l’encart qu’il refuse d’être démarché commercialement.
                        </p>
                        <p>
                            ZeOkay n’est aucunement responsable du non-respect par un tiers du refus de l’Utilisateur d’être démarché commercialement et ne donne aucune garantie, expresse ou implicite, à cet égard.
                        </p>
                        <p>
                            3.4.2 : Collecte et utilisation des données personnelles
                        </p>
                        <p>
                            Le dépôt de preuve par l’Utilisateur nécessite que celui-ci se crée, en fonction de son statut, un compte Personnel et renseigne à minima les données personnelles visées au 3.1 1) et 2) des présentes CGU.
                        </p>
                        <p>
                            Ces données sont susceptibles d’être utilisées par ZeOkay aux fins suivantes :
                        </p>
                        <ul>
                            <li>
                                <strong>
                                    La collecte des données personnelles
                                </strong>
                            </li>
                        </ul>
                        <p>
                            Les données personnelles sont collectées dans le cadre :
                        </p>
                        <ul>
                            <li>
                                De la création du Compte Personnel, l’Utilisateur Particulier remplissant un formulaire et renseignant, a minima, les informations suivantes :, nom, prénom, pseudo, adresse mail, numéro de téléphone, adresse postal.
                                <br>
                                    Il est possible, si le titulaire d’un Compte Personnel le souhaite, de compléter l’onglet « Mes Données Personnelles » dudit Compte en renseignant des informations telles que l’âge, le secteur d’activité et les centres d’intérêt etc.
                                    <br>
                                        Toutes les informations contenues dans l’onglet « Mes Données Personnelles » du Compte Personnel sont modifiables à tout moment par son titulaire.
                                    </br>
                                </br>
                            </li>
                            <li>
                                <strong>
                                    Utilisation des données personnelles
                                </strong>
                                <br>
                                    Toutes données personnelles collectées sont susceptibles d’être utilisées par ZeOkay aux fins suivantes :
                                </br>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                La gestion de Preuve, notamment après son téléchargement
                            </li>
                            <li>
                                La publication et le suivi de vos preuves
                            </li>
                            <li>
                                L’envoi de vos preuves
                            </li>
                            <li>
                                L’envoi de propositions commerciales et/ou promotionnelles, émanant uniquement de ZeOkay et concernant exclusivement le service ZeOkay
                            </li>
                            <li>
                                L’envoi de propositions commerciales et/ou promotionnelles, émanant de sociétés tiers en relation avec ZeOkay et ne concernant pas exclusivement le service ZeOkay. Étant entendu que cet envoi sera effectué exclusivement par ZeOkay. Aucune vente de base de données à des sociétés tiers n’est faite par ZeOkay.
                                <br>
                                    En outre, cet envoi de propositions commerciales et/ou promotionnelles ne sera effectué qu’après avoir reçu le consentement exprès des personnes concernées, conformément à l’article L34-5 du Code des Postes et Télécommunications, qui pourra être recueilli à l’occasion de la réception d’un message de ZeOkay leur proposant d’accéder aux offres de ces sociétés tierces.
                                </br>
                            </li>
                            <li>
                                L’envoi d’enquêtes de satisfaction
                            </li>
                            <li>
                                Statistiques
                            </li>
                        </ul>
                        <p>
                            3.4.3 : Communication des données personnelles
                        </p>
                        <p>
                            Conformément à la loi nº78-17 du 6 janvier 1978, ZeOkay s’engage à conserver toutes les données personnelles recueillies via le service ZeOkay et à ne les transmettre à aucun tiers.
                            <br>
                                Par dérogation, les Utilisateurs sont informés que ZeOkay peut être amenée à communiquer les données personnelles collectées via le service ZeOkay :
                            </br>
                        </p>
                        <ul>
                            <li>
                                Aux autorités administratives et judiciaires autorisées, uniquement sur réquisition judiciaire,
                            </li>
                            <li>
                                À la société mère et aux sociétés-sœurs de ZeOkay
                            </li>
                        </ul>
                        <p>
                            <strong>
                                3.5 Prospection commerciale et collecte déloyale
                            </strong>
                        </p>
                        <p>
                            L’utilisation à des fins commerciales ou de diffusion dans le public de données téléchargées à partir de l’Applications est formellement interdite, sous peine de sanction pénales prévues par les articles 226-16 à 226-24 du Code Pénal qui sanctionnent notamment le délit de collecte illicite de données personnelles.
                        </p>
                        <p>
                            <strong>
                                Nous vous invitons à nous contacter, pour toute question ou plainte requête relative à la protection de votre privée et de vos données personnelles, à l’adresse email suivante :
                            </strong>
                        </p>
                        <p>
                            <strong>
                                <u>
                                    Article 4 : Modération des preuves
                                </u>
                            </strong>
                        </p>
                        <h4>
                            <strong>
                                4.1 Suppression des Preuves illicites
                            </strong>
                        </h4>
                        <p>
                            ZeOkay se réserve le droit de supprimer, sans préavis ni indemnité ni droit à remboursement, toute Preuve qui ne serait pas conforme aux règles de diffusion du Service ZeOkay et/ou qui serait susceptible de porter atteinte aux droits d’un tiers.
                        </p>
                        <h4>
                            <strong>
                                4.2 Notification des abus
                            </strong>
                        </h4>
                        <p>
                            Il est permis à tout Utilisateur de signaler un contenu abusif à partir de l’Application.
                        </p>
                        <ul>
                            <li>
                                soit en cliquant sur le lien « signaler un contenu abusif » situé sur chaque preuve.
                                <br>
                                    •    soit par mail en cliquant sur le lien « contact »
                                </br>
                            </li>
                        </ul>
                        <p>
                            <strong>
                                <u>
                                    Article 5 : Responsabilité et garantie.
                                </u>
                            </strong>
                        </p>
                        <h4>
                            <strong>
                                5.1 Engagements de l’Utilisateur
                            </strong>
                        </h4>
                        <p>
                            L’Utilisateur garantit détenir tous les droits (notamment des droits de propriété intellectuelle) ou avoir obtenu toutes les autorisations nécessaires à l’envoie et la publication de sa preuve.
                        </p>
                        <p>
                            L’Utilisateur garantit que sa preuve ne contrevient à aucune réglementation en vigueur (notamment relatives à la publicité, à la concurrence, à la promotion des ventes, à l’utilisation de la langue française, à l’utilisation de données personnelles, à la prohibition de la commercialisation de certains biens ou services), ni aucun droit de tiers (notamment aux droits de propriété intellectuelle et aux droits de la personnalité) et qu’il ne comporte aucun message diffamatoire ou dommageable à l’égard de tiers.
                        </p>
                        <p>
                            Ainsi, l’Utilisateur s’engage notamment à ce que sa Preuve ne contienne :
                        </p>
                        <ul>
                            <li>
                                Aucune capture vidéo redirigeant les Utilisateurs notamment vers des sites internet ou application exploités par tout tiers à la société ZeOkay
                            </li>
                            <li>
                                Aucune information fausse, mensongère ou de nature à induire en erreur les Utilisateurs
                            </li>
                            <li>
                                Aucune mention diffamatoire ou de nature à nuire aux intérêts et/ou à l’image de ZeOkay ou de tout tiers
                            </li>
                            <li>
                                Aucun contenu portant atteinte aux droits de propriété intellectuelle de tiers
                            </li>
                            <li>
                                Aucun contenu à caractère promotionnel ou publicitaire en lien avec l’activité de l’Utilisateur. En effet, une Preuve est destinée à solutionné tout litige visuellement d’un produit acheter entre particulier et n’est pas un support de publicité
                            </li>
                        </ul>
                        <p>
                            L’Utilisateur s’engage à ne proposer que des captures vidéos comme preuve pour garantir la conformité ou le conditionnement d’un article envoyé à un autre utilisateur. L’Utilisateur s’engage, en cas d’indisponibilité de preuve via le Service ZeOkay, à être responsable et décharge ZeOkay de toutes responsabilités à cet égard.
                        </p>
                        <p>
                            L’Utilisateur déclare connaître l’étendue de diffusion de l’application, avoir pris toutes précautions pour respecter la législation en vigueur des lieux de réception et décharger ZeOkay de toutes responsabilités à cet égard.
                            <br>
                                Dans ce cadre, l’Utilisateur déclare et reconnaît qu’il est seul responsable du contenu des Preuves qu’il envoi, publie et rend accessibles aux Utilisateurs, ainsi que de tout document ou information qu’il transmet aux Utilisateurs.
                                <br>
                                    L’Utilisateur assume l’entière responsabilité éditoriale du contenu des Preuves qu’il envois et publie.
                                </br>
                            </br>
                        </p>
                        <p>
                            En conséquence, l’Utilisateur relève ZeOkay, ses sous-traitants et fournisseurs, de toutes responsabilités, les garantit contre tout recours ou action en relation avec les preuves qui pourrait être intenté contre ces derniers par tout tiers, et prendra à sa charge tous les dommages-intérêts ainsi que les frais et dépens auxquels ils pourraient être condamnés ou qui seraient prévus à leur encontre par un accord transactionnel signé par ces derniers  avec ce tiers , nonobstant tant tout dommages-intérêts dont ZeOkay, ses sous-traitants et fournisseurs pourraient réclamer à raison des faits dommageables de l’Utilisateur.
                        </p>
                        <p>
                            En déposant toute Preuve, chaque Utilisateur reconnaît et accepte que ZeOkay puisse supprimer, ou refuser, à tout moment, sans indemnité ni droit à remboursement des sommes engagées par l’Utilisateur aux fins de ses preuves ou de la souscription à des Options Payantes et abonnement, une Preuve qui serait contraire notamment à la loi française, aux règles de diffusion du Service ZeOkay fixées par ZeOkay et/ou susceptible de porter atteinte aux droits de tiers.
                        </p>
                        <p>
                            En cas de publication de preuve sur son profil par un Utilisateur inscrit en tant que particulier titulaire d’un Compte Personnel, ZeOkay se réserve le droit de restreindre l’utilisation du Service ZeOkay, notamment de refuser ou limiter le nombre de Preuve que l’Utilisateur peut mettre en ligne sur son profil via l’Application.
                        </p>
                        <p>
                            Toute Preuve est enregistrée sur nos serveur, à compter du jour de sa capture, simultanément sur l’Application et ce pour une durée maximale de 10 jours (exception faite de preuve liée dans le cadre d’un Abonnement, diffusée pendant une période donnée selon les C.G.V ZeOkay). 1 jour avant la durée initiale de 10 jours, ZeOkay envoie à l’Utilisateur une notification l’informant que sa Preuve va expirer et qu’elle sera supprimé et lui propose de reconduire sa Preuve pour 1 mois supplémentaires. Si l’Utilisateur ne reconduit pas sa preuve avant la fin de son expiration, il ne pourra pas prolonger sa preuve et la verra supprimer de ses archives.
                        </p>
                        <p>
                            L’Utilisateur s’engage également à ce que son Compte Personnel ne contienne :
                        </p>
                        <ul>
                            <li>
                                Aucune information obligatoire fausse et/ou mensongère
                            </li>
                            <li>
                                Aucune information portant atteinte aux droits d’un tiers
                            </li>
                        </ul>
                        <p>
                            Dans ce cadre, le titulaire déclare et reconnaît qu’il est seul responsable des informations renseignées lors de la création de son Compte Personnel.
                        </p>
                        <p>
                            En créant un Compte Personnel, chaque titulaire reconnaît et accepte que ZeOkay puisse supprimer, à tout moment, sans indemnité ni droit à remboursement des sommes engagées par l’Utilisateur aux fins de souscription à des Options Payantes et abonnement, un compte qui serait contraire notamment à la loi française et/ou aux règles de diffusion fixées par ZeOkay.
                        </p>
                        <p>
                            <strong>
                                5.2 Responsabilité et obligations de ZeOkay
                            </strong>
                        </p>
                        <p>
                            En sa qualité d’hébergeur, ZeOkay est soumise à un régime de responsabilité atténuée prévu aux articles 6.I.2. et suivants de la loi nº2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique.
                            <br>
                                ZeOkay ne saurait donc en aucun cas être tenue responsable du contenu des Preuves envoyées et publiées par les Utilisateur et ne donne aucune garantie, expresse ou implicite, à cet égard.
                            </br>
                        </p>
                        <p>
                            ZeOkay est un tiers aux correspondances et relations entre les Utilisateurs particuliers, et exclut de ce fait toute responsabilité à cet égard.
                        </p>
                        <p>
                            <strong>
                                5.3 Limitation de responsabilité
                            </strong>
                        </p>
                        <p>
                            ZeOkay s’engage à mettre en œuvre tous les moyens nécessaires afin d’assurer au mieux la fourniture du Service ZeOkay aux Utilisateurs.
                        </p>
                        <p>
                            Toutefois, ZeOkay décline toute responsabilité en cas de :
                        </p>
                        <ul>
                            <li>
                                Interruptions, de pannes, de modifications et de dysfonctionnement du Service ZeOkay quel que soit le support de communication utilisé et ce quelles qu’en soient l’origine et la provenance,
                            </li>
                            <li>
                                La perte de données ou d’informations stockées par ZeOkay. Il incombe aux Utilisateur de prendre toutes précautions nécessaires pour conserver les preuves qu’ils capturent via le Service ZeOkay ;
                            </li>
                            <li>
                                Impossibilité momentanée d’accès à l’Applications en raison de problèmes techniques et ce quelles qu’en soient l’origine et la provenance,
                            </li>
                            <li>
                                Dommages directs ou indirects causés à l’Utilisateur, quelle qu’en soit la nature, résultant du contenu des Preuves et/ou de l’accès, de la gestion, de l’Utilisation, de l’exploitation, du dysfonctionnement et/ou de l’interruption du Service ZeOkay,
                            </li>
                            <li>
                                Utilisation anormale ou d’une exploitation illicite du Service ZeOkay par tout Utilisateur.
                            </li>
                            <li>
                                Attaque ou piratage informatique, privation, suppression ou interdiction, temporaire ou définitive, et pour quelque cause que ce soit, de l’accès au réseau internet.
                            </li>
                        </ul>
                        <p>
                            La responsabilité de ZeOkay ne pourra être engagée que pour les dommages directs subis par l’Utilisateur, résultant d’un manquement à ses obligations contractuelles telles que définies aux présentes. L’Utilisateur renonce donc à demander réparation à ZeOkay à quelque titre que ce soit, de dommages indirects tels que le manque à gagner, la perte de chance, le préjudice commercial ou financier, l’augmentation de frais généraux ou les pertes trouvant leur origine ou étant la conséquence de l’exécution des présentes.
                        </p>
                        <p>
                            Tout Utilisateur est alors seul responsable des dommages causés aux tiers et des conséquences des réclamations ou actions qui pourraient en découler. L’Utilisateur renonce également à exercer tout recours contre ZeOkay dans le cas de poursuites diligentées par un tiers à son encontre du fait de l’Utilisation et/ou de l’exploitation illicite du Service ZeOkay, en cas de perte par un Utilisateur de son mot de passe ou en cas d’usurpation de son identité.
                        </p>
                        <p>
                            Les Utilisateurs reconnaissent que les établissements points de rencontre suggérés par l’application comme lieu pour procéder à la transaction entre le vendeur et l’acheteur, sont mentionnés uniquement à titre indicatif et que la responsabilité de ces derniers ne pourra en aucun cas être engagée quant aux transactions réalisées dans leurs établissements. Les Utilisateurs sont seuls responsables des transactions ainsi réalisées et de leurs conséquences.
                        </p>
                        <p>
                            <strong>
                                <u>
                                    Article 6 : Propriété intellectuel.
                                </u>
                            </strong>
                        </p>
                        <p>
                            6.1 Tous les droits de propriété intellectuelle (tels que notamment droits d’auteur, droits voisins, droits des marques, droits des producteurs de bases de données) portant tant sur la structure que sur les contenus de l’Application et notamment les images, sons, vidéos, photographies, logos, marques, éléments graphiques, textuels, visuels, outils, logiciels, documents, données, etc. (ci-après désignés dans leur ensemble  » Eléments « ) sont réservés. Ces Eléments sont la propriété de ZeOkay. Ces Eléments sont mis à disposition des Utilisateurs à titre gracieux, pour la seule utilisation du Service ZeOkay et dans le cadre d’une utilisation normale de ses fonctionnalités. Les Utilisateurs s’engagent à ne modifier en aucune manière les Eléments.
                        </p>
                        <p>
                            Toute utilisation non expressément autorisée des Eléments de l’Applications entraîne une violation des droits d’auteur et constitue une contrefaçon. Elle peut aussi entraîner une violation des droits à l’image, droits des personnes ou de tous autres droits et réglementations en vigueur. Elle peut donc engager la responsabilité civile et/ou pénale de son auteur.
                        </p>
                        <p>
                            6.2 Il est interdit à tout Utilisateur de copier, modifier, créer une preuve dérivée, inverser la conception ou l’assemblage ou de toute autre manière tenter de trouver le code source, vendre, attribuer, sous licencier ou transférer de quelque manière que ce soit tout droit afférent aux Eléments.
                        </p>
                        <p>
                            Tout Utilisateur du Service ZeOkay s’engagent notamment à ne pas :
                        </p>
                        <ul>
                            <li>
                                Utiliser ou interroger le Service ZeOkay pour le compte ou au profit d’autrui ;
                            </li>
                            <li>
                                Extraire, à des fins commerciales ou non, tout ou partie des informations ou des preuves présentes sur le Service ZeOkay et sur l’Application ;
                            </li>
                            <li>
                                Reproduire sur tout autre support, à des fins commerciales ou non, tout ou partie des informations ou des preuves présentes sur le Service ZeOkay et sur l’Application permettant de reconstituer tout ou partie des fichiers d’origine ;
                            </li>
                            <li>
                                Utiliser un robot, notamment d’exploration (spider), une application de recherche ou récupération ou tout autre moyen permettant de récupérer ou d’indexer tout ou partie du contenu de l’Application, excepté en cas d’autorisation expresse et préalable de ZeOkay ;
                            </li>
                            <li>
                                Copier les informations sur des supports de toute nature permettant de reconstituer tout ou partie des fichiers d’origine.
                            </li>
                        </ul>
                        <p>
                            Toute reproduction, représentation, publication, transmission, utilisation, modification ou extraction de tout ou partie des Eléments et ce de quelque manière que ce soit, faite sans l’autorisation préalable et écrite de ZeOkay est illicite. Ces actes illicites engagent la responsabilité de ses auteurs et sont susceptibles d’entraîner des poursuites judiciaires à leur encontre et notamment pour contrefaçon.
                        </p>
                        <p>
                            6.3. Les marques et logos ZeOkay, ainsi que les marques et logos des partenaires de ZeOkay sont des marques déposées. Toute reproduction totale ou partielle de ces marques et/ou logos sans l’autorisation préalable et écrite de ZeOkay est interdite.
                        </p>
                        <p>
                            6.4. ZeOkay est producteur des bases de données du Service ZeOkay. En conséquence, toute extraction et/ou réutilisation de la ou des bases de données au sens des articles L 342-1 et L 342-2 du code de la propriété intellectuelle est interdite.
                        </p>
                        <p>
                            6.5. ZeOkay se réserve la possibilité de saisir toutes voies de droit à l’encontre des personnes qui n’auraient pas respecté les interdictions contenues dans le présent article.
                        </p>
                        <p>
                        </p>
                        <p>
                        </p>
                        <p>
                            6.6. Liens hypertextes
                        </p>
                        <p>
                            6.6.1. Liens à partir du Service ZeOkay
                        </p>
                        <p>
                            Le Service ZeOkay peut contenir des liens hypertextes redirigeant vers des applications ou sites exploités par des tiers. Ces liens sont fournis à simple titre d’information.
                        </p>
                        <p>
                            ZeOkay n’exerce aucun contrôle sur ces sites et décline toute responsabilité quant à l’accès, au contenu ou à l’utilisation de ces applications ou sites, ainsi qu’aux dommages pouvant résulter de la consultation des informations présentes sur ces applications ou sites.
                        </p>
                        <p>
                            La décision d’activer ces liens relève de la pleine et entière responsabilité de l’Utilisateur.
                        </p>
                        <p>
                            6.6.2. Liens vers le Service ZeOkay
                        </p>
                        <p>
                            Aucun lien hypertexte ne peut être créé vers le Service ZeOkay sans l’accord préalable et exprès de ZeOkay.
                        </p>
                        <p>
                            Si un internaute ou une personne morale désire créer, à partir de son site ou application, un lien hypertexte vers le Service ZeOkay et ce quel que soit le support, il doit préalablement prendre contact avec ZeOkay en lui adressant un email à l’adresse suivante
                            <u>
                                Zyed.charf@ZeOkay.com
                            </u>
                            .
                        </p>
                        <p>
                            Tout silence de ZeOkay devra être interprété comme un refus.
                        </p>
                        <p>
                            6.7. Le contenu des Preuves capturés appartient aux Utilisateurs, néanmoins, en capturant des preuve via l’application ZeOkay, l’Utilisateur concède :
                        </p>
                        <p>
                            –    à ZeOkay le droit d’exploitation non exclusif, transférable, sous licenciable, à titre gracieux, pour le monde entier sur (i) l’ensemble du contenu des Preuves et notamment sur les photographies, textes, vidéos, illustrations, marques, logos, titres (ci-après le « Contenu »), au fur et à mesure de leur capture via l’application ainsi (ii) qu’une licence sur l’ensemble des droits de propriété intellectuelle afférant au Contenu et notamment sur les droits d’auteurs sur les éléments utilisés dans son menu archive, tels que les photographies, textes, vidéos, dessins, illustrations, éléments sonores, et ce pour toute la durée légale de ses droits de propriété intellectuelle et pour le monde entier.
                        </p>
                        <p>
                            Les droits ainsi concédés incluent le droit de reproduire, représenter, diffuser, adapter, modifier, réaliser une œuvre dérivée, traduire tout ou partie du Contenu par tous procédés, sous quelque forme que ce soit et sur tous supports (numérique, imprimé…) connus ou inconnus à ce jour, dans le cadre du service ZeOkay ou en relation avec l’activité de ZeOkay, et ce à des fins commerciales ou non et notamment publicitaires, ainsi que dans le cadre d’une diffusion sur les réseaux sociaux sur lesquels ZeOkay est présent et notamment les pages Facebook, Instagram et Twitter de ZeOkay.
                        </p>
                        <p>
                            En particulier, les vidéos des Preuves pourront être reproduites et intégrées dans des formats publicitaires diffusés sur l’application ou futur Site Internet, uniquement en lien avec la preuve déposée.
                        </p>
                        <p>
                            L’Utilisateur accorde son consentement à la reprise de sa preuve et du Contenu de cette dernière sur les réseaux sociaux, notamment Facebook, Instagram et Twitter. Par conséquent, l’Utilisateur atteste avoir pris connaissance des conditions générales d’utilisation des sites
                            <a href="https://fr-fr.facebook.com/legal/terms?locale=fr_FR">
                                Facebook
                            </a>
                            ,
                            <a href="https://www.instagram.com/about/legal/terms/">
                                Instagram
                            </a>
                            , et
                            <a href="https://twitter.com/tos?lang=fr">
                                Twitter
                            </a>
                            et en accepter les termes, particulièrement en matière de réutilisation du Contenu et des données personnelles.
                        </p>
                        <p>
                            Au titre de cette licence, ZeOkay, sans que cela ne crée à sa charge une obligation d’agir, est en droit de s’opposer à la reproduction et l’exploitation par des tiers non autorisés des Preuves diffusées sur le Site Internet et de leur Contenu.
                        </p>
                        <p>
                            –    aux utilisateurs, le droit non exclusif d’accéder au Contenu via le Service ZeOkay et d’utiliser et de représenter le Contenu dans la mesure autorisée par les fonctionnalités du Service ZeOkay, et ce pour le monde entier. »
                        </p>
                        <p>
                            <strong>
                                <u>
                                    Article 7 : Modification du service ZeOkay et des CGU.
                                </u>
                            </strong>
                        </p>
                        <p>
                            7.1 ZeOkay se réserve le droit, à tout moment, de modifier ou interrompre l’accessibilité de tout ou partie du Service ZeOkay et de l’Applications.
                        </p>
                        <p>
                            7.2 ZeOkay se réserve la possibilité de modifier, à tout moment, en tout ou partie des CGU. Les Utilisateurs sont invités à consulter régulièrement les présentes CGU afin de prendre connaissance de changements éventuels effectués. L’Utilisation de l’application par les Utilisateurs constitue l’acceptation par ces derniers des modifications apportées aux CGU.
                        </p>
                        <p>
                            <strong>
                                <u>
                                    Article 8 : Disposition Diverses.
                                </u>
                            </strong>
                        </p>
                        <p>
                            Si une partie des CGU devait s’avérer illégale, invalide ou inapplicable, pour quelle que raison que ce soit, les dispositions en question seraient réputées non écrites, sans remettre en cause la validité des autres dispositions qui continueront de s’appliquer entre les Utilisateurs et ZeOkay.
                        </p>
                        <p>
                            Les présentes CGU sont soumises au droit français.
                        </p>
                        <p>
                        </p>
                        <p>
                        </p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </ion-content>
    <div ng-if="currentUser" ng-include src="'templates/footer.html'"></div>
</ion-view>
