<ion-view view-title="contact" class='item-animate' cache-view="false">
    <ion-header-bar align-title="center" class="header-pages">
        <div class="buttons">
          <button class="button button-clear btn-clean" ng-click="goTo('home')"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">{{'CONTACT'| translate}}</h1>
        <button class="button button-clear btn-clean"  ng-click="goTo('search')">
            <img class="message-img" src="img/icons/follow-black.png" />
        </button>
    </ion-header-bar>        
    <ion-content>
            <div class="list">
                 <div class="item-input-inset item-search-input">
                    <label class="item-input-wrapper">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input ng-model="search" placeholder="{{'search'| translate}}" type="search"></input>
                    </label>
                    <button class="button-clear title-page-color button-input-close" ng-click="friendSearch = undefined">
                      <i class="icon ion-android-close"></i>
                    </button>
                </div>
                <ion-list  class="listHome">
                    <ion-item ng-repeat="user in $root.listFriends | searchField: 'name': 'email' | filter: search | orderBy: 'createdAt'" class="item" ng-click="showUser(user.userProfile.key)" ng-if="user.userProfile && user.userProfile.name">
                       
                        <img src="img/newuser.png" class='img-user-default' ng-if='!user.userProfile.profile_picture'/>
                        <img ng-src="{{user.userProfile.profile_picture}}" class='img-user-search' ng-if='user.userProfile.profile_picture'/>
                        <span class="item-note">Amis&nbsp;<span am-time-ago="user.createdAt" class="item-note"></span></span>
                        <div>
                            <p>{{user.userProfile.username}}</p>
                            <p>{{user.userProfile.email}}</p>
                             <div style="text-align: left;" class="notes-img">
                                <img ng-src="img/icons/notes_{{$root.listUsers[user.userProfile.key].note ? $root.listUsers[user.userProfile.key].note : 0}}.png" />
                            </div>
                        </div>
                       
                        <ion-option-button class="button-energized icon ion-android-textsms" ng-click="goTo('message', {slug: user.key})"></ion-option-button>
                        <ion-option-button ng-if="user.userProfile.email != 'admin@zeokay.fr'" class="button-assertive icon ion-close" ng-click="deleteUser(user.key)"></ion-option-button>
                    </ion-item>
                </ion-list>
                
                <div class="no-user-container" ng-if="$root.listFriends.length == 0 && searchQuery">
                    <img src="img/icons/no_user.png" />
                    <p>{{'NO_USER_FOUND'| translate}}</p>
                    <button class="button button-block login-btn connexion-btn" ng-click="showMail()" type="submit">
                        {{'SEND_MAIL'| translate}}
                    </button>
                </div>
            </div>
        </ion-content>
<div ng-include src="'templates/footer.html'"></div>
</ion-view>
