<ion-view view-title="Proof" cache-view="false">
    <ion-header-bar align-title="center" class="header-pages white">
        <div class="buttons">
            <button class="button button-clear btn-clean" ng-click="goTo(priviousUrl)"><i
                    class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">{{'new_proof'| translate}}</h1>
    </ion-header-bar>
    <div class="poroof_progress">
        <div ng-style="{width: progressval + '%'}"></div>
    </div>
    <ion-content class="header-video" on-scroll="hScroll(this)" ng-style="{'background-image': 'url(' + proofThumb + ')'}" has-bouncing="true" overflow-scroll="false">
            <div class="covert-proof header-pages" style="background: transparent;">
                <div class='covert-proof'></div>
                <span class="time" style="color: rgba(255, 255, 255, 0.9);padding: 5px;bottom: 12px;position: relative;font-size: 94%;white-space: nowrap;">Envoyée le {{today | date:'dd/MM/yyyy'}}</span>
                <button class="button-icon video-take-pic" ng-click="takePicture()"><i class="icon ion-ios-camera"></i></button>
                <div id="bgnext" class="bgnext" style="text-align: center;text-align: center;background: #f7f7f7;margin-top: -15px;height: 109px;">
                    <img ng-click="searchUser()" ng-if='!sendToUser.profile_picture' class='new-user-default' ng-class="{'edit-user': sendToUser}" src="img/newuser.png" />
                    <img ng-click="searchUser()" ng-if='sendToUser.profile_picture' class='new-user-pic' ng-class="{'edit-user': sendToUser}" ng-src="{{sendToUser.profile_picture}}" />
                    <img ng-click="searchUser()" ng-if="sendToUser" class='edit-user-pic' src="img/icons/edit_user.png" />
                </div>
            </div>
            <p ng-if="!sendToUser" class="name-user"></p>
            <p ng-if="sendToUser" class="name-user">{{sendToUser.name}}</p>
            <div ng-if="sendToUser" class="notes-img">
                <img ng-src="img/icons/notes_{{sendToUser.note ? sendToUser.note : 0}}.png" />
            </div>
            
            <div id="content" style="background: #fff;width: 100%;" ng-style="getMinHeight()">
                <form ng-submit="hideKeyboard()">
                    <label class="item item-input margin-title" ng-class="{'margin-title': !sendToUser, 'title-proof': sendToUser}">
                            <span class="input-label color-label">{{'title_product'| translate}}</span>
                            <input ng-required="true" type="text" name="title" ng-model="video.title" class="text-right">
                        </label>
                    <div class="item item-input item-select">
                        <div class="input-label color-label">{{'category'| translate}}</div>
                        <select ng-required="true" ng-model="video.category" class="select-category" id="select-category" ng-options="c.name for c in sampleCategories"></select>
                    </div>
                    <div class="item item-input item-select">
                        <div class="input-label color-label">{{'sub_category'| translate}}</div>
                        <select ng-required="true" ng-model="video.sub_category" class="select-category" ng-options="p.name for p in video.category.subcategories"></select>
                        <!-- <input ng-required="true" type="text" name="sub_category" ng-model="video.sub_category" class="text-right"> -->
                    </div>              
                </form>
            </div>
            
    </ion-content>
</ion-view>
<div ng-include src="'templates/footer.html'"></div>

<script id="search.html" type="text/ng-template">
    <div class="header-pages">
        <ion-header-bar align-title="center" ng-click="scrollTop()">
            <div class="buttons">
                <button class="button button-clear btn-clean" ng-click="modal.hide()"><i class="icon ion-android-arrow-back"></i></button>
            </div>
            <h1 class="title">{{'search'| translate}}</h1>
            <button class="button button-clear btn-clean" ng-click="modal.hide()"><i class="icon ion-ios-close-outline"></i></button>
        </ion-header-bar>
        <ion-content style="background: white">
            <div class="item-input-inset item-search-input">
                <label class="item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="{{'search'| translate}}" ng-change="search(searchQuery)" ng-model="searchQuery">
                </label>
                <button class="button-clear title-page-color button-input-close" ng-click="cancel()">
                    <i class="icon ion-android-close"></i>
                </button>
            </div>
            <div class="list">
                <li ng-repeat="user in filteredUsers = (listUsers|omit: omitUsers | searchField: 'name': 'username' : 'email' | filter: searchQuery) |orderBy: 'createdAt' " class="item" ng-click="selectUser(user)">
                    <img src="img/newuser.png" class='img-user-default' ng-if='!user.profile_picture' />
                    <img ng-src="{{user.profile_picture}}" class='img-user-search' ng-if='user.profile_picture' />
                    <div>
                        <p>{{user.name}}</p>
                        <p>{{user.email}}</p>
                        <div style="text-align: left;" class="notes-img">
                            <img ng-src="img/icons/notes_{{user.note ? user.note : 0}}.png" />
                        </div>
                        <img src="img/icons/add-user.png" class="img-add-user" />
                    </div>

                </li>
                <div class="no-user-container" ng-if="filteredUsers.length == 0 && searchQuery">
                    <img src="img/icons/no_user.png" />
                    <p>{{'NO_USER_FOUND'| translate}}</p>
                    <button class="button button-block login-btn connexion-btn" ng-click="showMail()" type="submit">
                        {{'SEND_MAIL'| translate}}
                    </button>
                </div>
            </div>
        </ion-content>
    </div>
</script>