<ion-view view-title="Setting" cache-view="false">
    <ion-header-bar align-title="center" class="header-pages">
        <div class="buttons">
            <button class="button button-clear btn-clean" ng-click="goTo(priviousUrl)"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">{{'SETTING'| translate}}</h1>
        <button class="button button-clear btn-clean" ng-click="goTo('home')"><i class="icon ion-ios-close-outline"></i></button>
    </ion-header-bar>
    <ion-content class=" has-header">

        <div class="list">
            <li class="item" ng-click="goTo('profil')">
                <p>{{'MYPROFIL'| translate}}</p>
            </li>
            <li class="item" ng-click="goTo('subscription')">
                <p style="float: left">{{'MYSUBSCRIPTION'| translate}}</p>
                <span class="btn-send item-floating-label ng-binding text-right"><i class="icon ion-ios-bolt-outline"></i>&nbsp;{{$root.currentFormula.name}}</span>
            </li>
            <li class="item" ng-click="goTo('card')">
                <p>{{'CARDS'| translate}}</p>
            </li>
            <li class="item" ng-click="goTo('help')">
                <p>{{'HELP'| translate}}</p>
            </li>
            <li class="item" ng-click="goTo('about')">
                <p>{{'ABOUT'| translate}}</p>
            </li>
            <li class="item" ng-click="goTo('cgu')">
                <p>{{'CGU'| translate}}</p>
            </li>
            <li class="item" ng-click="goTo('cgv')">
                <p>{{'CGV'| translate}}</p>
            </li>
            <li class="item" ng-click="logout()">
                <p class="logout-txt">{{'LOGOUT'| translate}}</p>
            </li>
        </div>

    </ion-content>
</ion-view>