    @media yahoo {
  table {border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; table-layout: fixed;}
  table table { table-layout: auto; }
  }
    * [data-term] {border-bottom: none !important;pointer-events: none !important;}
    .ii a {color: inherit !important; text-decoration:none !important;}
    a[x-apple-data-detectors] { color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; }
body, .container, html {
  background-color: #EAEAEA;
  margin-top: 0;
}
img {
  -ms-interpolation-mode: bicubic;
  border: none;
  outline: none;
}
.desktop-hide, .desktop-hide img, .desktop-hide-max, .desktop-hide-max img {
  display:none;
}
.gmail-fix-no-inline {
  display:none;
  display:none !important;
}
@media (max-width: 500px) {
  .ios-hide {
    display: none;
  }
  .desktop-hide, .desktop-hide img {
    display: initial !important;
  }
}
a {
  color: inherit !important;
}
a img {
  border-style: none;
}
.copy a {
  font-family: Helvetica, Arial, sans;
  text-decoration: underline !important;
  color: inherit !important;
}
.copy a.secondary-cta {
  color: #e50914 !important;
}
html, body {
  padding: 0;
  margin: 0;
  background-color: #EAEAEA;
}
/* Content */
.content-shell {
  background: url('http://cdn.nflximg.com/us/email/hitch/netflix-crop.png') no-repeat #ffffff;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
body {
  font-family: Helvetica, Arial, sans;
  color: #221F1F;
}
.help-center-link {
  text-decoration: underline;
  font-weight: bold;
}
@media (max-width: 599px) {
  .ios-hide-max {
    display: none;
  }
  .inbox-fix {
    display: none;
  }
  .desktop-hide-max, .desktop-hide-max img {
    display: initial !important;
  }
}
/* Footer */
.footer-shell, .footer-table, .footer {
  background-color: #221F1F;
}
.footer {
  text-align: initial;
  font-family: Helvetica, Arial, sans;
  font-size: 13px;
  color: #A9A6A6;
  line-height: 16px;
}
.footer-copy {
  padding: 15px 90px 0 90px;
}
.footer-copy-no-padding {
  padding: 0 90px 0 90px;
}
.footer.questions {
  padding: 34px 90px 0 90px !important;
}
.footer.footer-center {
  padding: 15px 0 0 0;
  text-align: center !important;
}
.footer a, .footer-copy a {
  color: #A9A6A6 !important;
  text-decoration: underline;
}
@media (max-width: 599px) {
  .shell, .shell-footer {
    width: 100% !important;
  }
}
@media (max-width: 500px) {
  .footer {
    padding-left: 8% !important;
    padding-right: 8% !important;
  }
  .footer-copy, .footer-copy-no-padding, .footer.questions {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* End Footer */
    .button-shell {
  padding: 22px 90px 0 90px;
}
.button.red td {
  color: #ffffff;
  background-color:#E50914;
  padding:10px 16px;
  max-width:265px;
  border-radius: 2px;
}
.button.red .button-link {
  color:#ffffff;
  font-size:16px;
  line-height: 24px;
  font-weight:normal;
  text-align:center;
  text-decoration:none;
  font-family: Helvetica Neue,Helvetica,Roboto,Segoe UI,sans-serif;
  letter-spacing: .025em;
}
@media (max-width: 500px){
  .button-shell {
    padding: 20px 8% 0 8% !important;
  }
  .button.red td {
    padding: 0 0 !important;
    width: 100% !important;
  }
  .button.red {
    width: 100% !important;
  }
  .button.red a.button-link {
    display: block !important;
    padding: 16px 30px !important;
    font-size: 15px !important;
    line-height: 17px !important;
  }
}
/* Copy */
.copy-shell {
  background-color: #ffffff;
}
.copy {
  padding: 22px 90px 0 90px;
  font-family: Helvetica Neue,Helvetica,Roboto,Segoe UI,sans-serif;
  font-size: 18px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 500px) {
  .copy {
    padding: 20px 8% 0 8% !important;
  }
}
/* End Copy */
/* Escape Hatch */
.escape-hatch-neutral-shell {
  padding: 30px 90px 0 90px;
}
@media (max-width: 500px) {
  .escape-hatch-neutral-shell {
    padding: 8px 8% 0 8% !important;
  }
}
.escape-hatch-neutral.bar {
  height: 3px;
  font-size: 0 !important;
  line-height: 0 !important;
}
.escape-hatch-neutral.bar img {
  width: 100% !important;
}
.escape-hatch-neutral.text {
  font-family: Helvetica Neue,Helvetica,Roboto,Segoe UI,sans-serif;
  font-size: 15px;
  line-height: 17px;
  font-weight: bold;
  padding: 17px 0 0 0;
  vertical-align: bottom;
  text-decoration: none !important;
}
a.escape-hatch-neutral.link {
  text-decoration: none !important;
}

.escape-hatch-neutral.text .arrow {
  display: inline-block;
  font-size: 15px;
  line-height: 17px;
  vertical-align: top;
  padding: 1.8px 0 0 6px;
}
/* End Escape Hatch */
/* Headline */
.headline {
  font-family: Helvetica, Arial, sans;
  font-weight: bold;
  font-size: 32px;
  color: #221F1F;
  line-height: 36px;
  padding: 40px 90px 10px 90px;
}
@media (max-width: 500px) {
  .headline {
    padding: 25px 8% 10px 8% !important;
    font-size: 28px !important;
  }
}
/* End Headline */
/* Logo */
.logo {
  padding: 46px 0 0 0;
}
@media (max-width: 500px) {
  .logo {
    padding: 42px 8% 0 8% !important;
  }
  .logo img {
    width: 130px !important;
  }
}
.social-icon_footer ul {
	width: auto;
	height: auto;
	float: left;
	list-style: none;
	margin: 8px 0px;
}
.social-icon_footer ul li {
	width: auto;
	height: auto;
	float: left;
	padding-left: 8px;
}
.social-icon_footer ul li a {
	text-decoration: none;
}
.icon_facebook {
	background: url(http://zeokay.com/wp-content/plugins/social-media-widgets/assets/img/icon_facebook.png) no-repeat;
	width: 40px;
	height: 40px;
	float: left;
}
 .icon_facebook:hover {
	
}
.icon_g-plus {
	background: url(http://zeokay.com/wp-content/plugins/social-media-widgets/assets/img/icon_g-plus.png) no-repeat;
	width: 40px;
	height: 40px;
	float: left;
        display:none;
}
.icon_g-plus:hover {
	
}
 .icon_twitter {
	background: url(http://zeokay.com/wp-content/plugins/social-media-widgets/assets/img/icon_twitter.png) no-repeat;
	width: 40px;
	height: 40px;
	float: left;
}
.icon_twitter:hover {
	
}
.icon_pinterest {
	background: url(http://zeokay.com/wp-content/plugins/social-media-widgets/assets/img/icon_g-plus.png) no-repeat;
	width: 40px;
	height: 40px;
	float: left;
}
.icon_pinterest:hover {
	
}
/* End Logo */
.widget ul{color: #000;}
.widget ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.52);
}
.pic {
  max-width: 50%;
  max-height: 300px;
}

.messages {
  list-style-type: none;
}

.messages  li {
  background: rgba(116, 152, 116, 0.46);
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 12px;
}

.messages  li > img {
  background: rgba(116, 152, 116, 1);
    border-radius: 10px;
    margin: 10px;
}
.content {
  padding:22px 70px 0 70px;
  font-family:Helvetica Neue,Helvetica,Roboto,Segoe UI,sans-serif;
  font-size:18px;
  line-height:18px;
}
.title {
  font-family:Helvetica,Arial,sans;font-weight:bold;
  font-size:28px;
  color:rgb(34,31,31);
  line-height:36px;
  padding:40px 70px 10px 70px;
}