<center>
  <div id=":h1" class="a3s aXjCH m15c9fab48b194cb4">
      <u></u>
      <div bgcolor="#EAEAEA" style="font-family:Helvetica,Arial,sans;color:rgb(34,31,31);padding:0;margin:0;background-color:rgb(234,234,234);background-color:rgb(234,234,234);margin-top:0">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:rgb(234,234,234);margin-top:0">
          <tbody>
            <tr>
              <td align="center">
                <table width="600" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td bgcolor="#ffffff" style="background:url(http://zeokay.com/wp-content/uploads/2017/01/slide16003.jpg) no-repeat rgb(255,255,255);background-repeat:no-repeat;background-size:100%;background-color:rgb(255,255,255)">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                          <tbody>
                            <tr style="height: 120px;">
                              <td align="center" style="padding:46px 0 0 0"> <a href="http://zeokay.com" style="color:inherit" target="_blank"> 
                              <img src="http://zeokay.com/wp-content/uploads/2017/01/logo_zeokayv4.png" align="center" style="border:none;outline:none;border-style:none" class="CToWUd"> </a></td>
                            </tr>
                            <tr style="height: 130px;">
                              <td align="center" style="padding:46px 0 0 0"> <a href="http://zeokay.com" style="color:inherit" target="_blank"> 
                              <img src="http://zeokay.com/wp-content/uploads/2017/01/appstore.png" alt="" data-ww="200px" data-hh="72px" width="200" height="72" data-no-retina="" style="width: 94.75px; height: 34.11px; transition: none; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 8px;">
                              <img src="http://zeokay.com/wp-content/uploads/2017/01/googleplay.png" alt="" data-ww="212px" data-hh="72px" width="212" height="72" data-no-retina="" style="width: 100.435px; height: 34.11px; transition: none; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 8px;">
                              </a></td>
                            </tr>
                            <tr>
                              <td class="title">
                              Réinitialisez votre mot de passe pour Zeokay </td>
                            </tr>
                            <tr>
                              <td class="content">
                              Bonjour, </td>
                            </tr>
                            <tr>
                              <td class="content">
                                  <p>Cliquez sur <a href="%LINK%">ce lien</a> pour réinitialiser votre mot de passe %APP_NAME% pour le compte %EMAIL%.</p>
                              </td>
                            </tr>                            
                            <tr>
                              <td class="content">
                                <p>Si vous n'avez pas demandé à réinitialiser votre mot de passe, vous pouvez ignorer cet e-mail.</p>
                                <p>Merci,</p>                                
                              </td>
                            </tr>
                            <tr>
                              <td class="content">
                              Nous sommes là pour vous aider. Pour plus d'informations, consultez le <a href="http://zeokay.com/#comment_ca_marche" style="color:inherit;font-family:Helvetica,Arial,sans;text-decoration:underline;color:inherit" target="_blank">Centre d'aide</a> ou <a href="http://zeokay.com/#nous_contacter" style="color:inherit;font-family:Helvetica,Arial,sans;text-decoration:underline;color:inherit" target="_blank">contactez-nous</a>.
                                </td>
                            </tr>
                            <tr>
                              <td class="content">
                              L'équipe ZeOkay </td>
                            </tr>
                            <tr>
                              <td style="padding:30px 90px 0 90px">
                                <a href="https://www.zeokay.com" style="text-decoration:none;color:inherit" target="_blank">
                                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td style="font-family:Helvetica Neue,Helvetica,Roboto,Segoe UI,sans-serif;font-size:15px;line-height:17px;font-weight:bold;padding:17px 0 0 0;vertical-align:bottom;text-decoration:none">
                                        &nbsp; </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table width="600" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:rgb(34,31,31);text-align:initial;font-family:Helvetica,Arial,sans;font-size:13px;color:rgb(169,166,166);line-height:16px">
                          <tbody>
                            <tr>
                              <td style="background-color:rgb(34,31,31);padding:34px 90px 0 90px;text-align:initial;font-family:Helvetica,Arial,sans;font-size:13px;color:rgb(169,166,166);line-height:16px">
                              Des questions&nbsp;? <a href="http://zeokay.com/#nous_contacter">contactez-nous</a>.</td>
                            </tr>
                            <tr>
                              <td style="background-color:rgb(34,31,31);text-align:initial;font-family:Helvetica,Arial,sans;font-size:13px;color:rgb(169,166,166);line-height:16px;padding:15px 90px 0 90px">
                              Cet e-mail vous a été envoyé dans le cadre de votre abonnement à ZeOkay. 
                            </td></tr>
                            <tr>
                              <td style="background-color:rgb(34,31,31);text-align:initial;font-family:Helvetica,Arial,sans;font-size:13px;color:rgb(169,166,166);line-height:16px;padding:15px 90px 0 90px">
                              Veuillez ne pas répondre à cet e-mail. Si vous avez besoin d'aide ou souhaitez nous contacter,
                                vous pouvez consulter notre Centre d'aide&nbsp;: <a href="http://zeokay.com/#comment_ca_marche" style="color:#a9a6a6;color:rgb(169,166,166);text-decoration:underline;color:inherit" target="_blank">http://zeokay.com</a>.
                                </td>
                            </tr>
                            <tr>
                              <td style="background-color:rgb(34,31,31);text-align:initial;font-family:Helvetica,Arial,sans;font-size:13px;color:rgb(169,166,166);line-height:16px;padding:15px 90px 0 90px">
                              Ce message est adressé à [%EMAIL%]
                                de la part de ZeOkay. </td>
                            </tr>
                            <tr>
                              <td style="background-color:rgb(34,31,31);padding:0 90px 0 90px;text-align:initial;font-family:Helvetica,Arial,sans;font-size:13px;color:rgb(169,166,166);line-height:16px">
                                SRC: <a href="http://zeokay.com/mentions-legales/" style="color:#a9a6a6;text-decoration:none;color:rgb(169,166,166);text-decoration:underline;color:inherit" target="_blank">820 756 575 RCS Evry</a>                                </td>
                            </tr>
                            <tr>
                              <td style="background-color:rgb(34,31,31);padding:0 90px 0 90px;text-align:initial;font-family:Helvetica,Arial,sans;font-size:13px;color:rgb(169,166,166);line-height:16px">
                              L'utilisation du service et du site Web de ZeOkay est soumise à nos <a style="color:#a9a6a6;text-decoration:underline;color:rgb(169,166,166);text-decoration:underline;color:inherit" href="http://zeokay.com/conditions-generales/" target="_blank">Conditions d'utilisation</a>.
                                </td>
                            </tr>                           
                            <tr>
                              <td height="24" style="background-color:rgb(34,31,31);text-align:initial;font-family:Helvetica,Arial,sans;font-size:13px;color:rgb(169,166,166);line-height:16px">
                              &nbsp;
                                <img src="" style="display:block;border:none;outline:none" border="0" class="CToWUd"></td>
                            </tr>
                            <tr>
                              <td style="background-color:rgb(34,31,31);padding:0 90px 20px 90px;text-align:initial;font-family:Helvetica,Arial,sans;font-size:13px;color:rgb(169,166,166);line-height:16px">                              
                              <div>
                                  <div>
                                    <h3 class="widget-head">RÉSEAUX SOCIAUX</h3>
                                    <a class="icon_facebook" href="https://www.facebook.com/ZeOkayofficiel" target="_blank" style="background: url(http://zeokay.com/wp-content/plugins/social-media-widgets/assets/img/icon_facebook.png) no-repeat; width: 40px; height: 40px; float: left;"></a>
                                    <a class="icon_twitter" href="https://twitter.com/ZeOkay" target="_blank" style="background: url(http://zeokay.com/wp-content/plugins/social-media-widgets/assets/img/icon_twitter.png) no-repeat; width: 40px; height: 40px; float: left;"></a>
                                    <a class="icon_pinterest" href="https://www.linkedin.com/company-beta/11015234/" target="_blank" style="background: url(http://zeokay.com/wp-content/plugins/social-media-widgets/assets/img/icon_g-plus.png) no-repeat; width: 40px; height: 40px; float: left;"></a>                                    
                                  </div>
                              </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>        
        <div style="white-space:nowrap;font:15px courier;line-height:0">
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
      </div>
      </div>
  </center>
  <html>
  <link rel="stylesheet" href="base.css">
 