<div class="message-popup">
    <h4>Chargement en cours</h4>
    <p>Merci de patienter</p>
    <div style="margin: 0 10px 0 10px;position: relative;">
        <p ng-if="progressval > 2 && progressval < 95" ng-style="{width: progressval + '%'}" data-value="{{ progressval | number:0 }}">&nbsp;</p>
        <progress max="100" value="{{ progressval }}" class="progress">    
            <div class="progress-bar">
                <span ng-style="{width: progressval + '%'}" >{{ progressval }}%</span>
            </div>
        </progress>
    </div>
</div>