	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/06/2017 16:36
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-delivery-worker-giving-a-box-to-a-receiver:before { content: "\f100"; }
.flaticon-24-hours-symbol:before { content: "\f101"; }
.flaticon-delivery-box-package-opened-with-up-arrow:before { content: "\f102"; }
.flaticon-delivery-packaging-box:before { content: "\f103"; }
.flaticon-package-for-delivery:before { content: "\f104"; }
.flaticon-box:before { content: "\f105"; }
.flaticon-delivery-package-opened:before { content: "\f106"; }
.flaticon-finish:before { content: "\f107"; }
.flaticon-checkered-flag:before { content: "\f108"; }
.flaticon-flags-crossed:before { content: "\f109"; }
.flaticon-delivery:before { content: "\f10a"; }
.flaticon-delivery-truck:before { content: "\f10b"; }