<ion-view cache-view="false" view-title="Setting" class="header-about">
   <ion-header-bar align-title="center" class="bar bar-dark tansparent">
        <div class="buttons">
            <button ng-if="priviousUrl" class="button button-clear" ng-click="goTo(priviousUrl)">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </div>
        <h1 class="title">
            {{'ABOUT'| translate}}
        </h1>
        <button class="button button-clear" ng-click="goTo('home')">
            <i class="icon ion-ios-close-outline"></i>
        </button>
    </ion-header-bar>
    <ion-content on-scroll="root.onScroll(this)" has-bouncing="false" overflow-scroll="true">    
        <div class="wpb_wrapper">
            <div class="pitch text-center" id="concept">
                <div class="container">
                    <div class="pitch-intro">
                        <h1 class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            ZeOkay, c'est quoi ?
                        </h1>
                        <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            Pour les inconditionnels du shopping en ligne, comment se prémunir des arnaques et autres déconvenues ?
                            <br>
                                ZeOkay est une solution d’échange gratuite d’une preuve d’envoi contre une preuve de réception par vidéo numérique.
                                <br>
                                    L'application qui résoudra bien des angoisses et des pertes monétaires.
                                </br>
                            </br>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="pitch-icon">
                                <i class="ion-android-arrow-dropup-circle">
                                </i>
                            </div>
                            <div class="pitch-content">
                                <h1>
                                    Réseau
                                </h1>
                                <p>
                                    Développer votre réseau de confiance pour toutes vos ventes ou achats, afin de mutualiser vos preuves d’envoies et de réceptions.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="pitch-icon">
                                <i class="ion-cube">
                                </i>
                            </div>
                            <div class="pitch-content">
                                <h1>
                                    Structurer
                                </h1>
                                <p>
                                    Pour l'intérêt de tous, notre outil est basé sur le principe d’honnêteté par preuve vidéo numérique entre tous les utilisateurs.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="pitch-icon">
                                <i class="ion-android-notifications">
                                </i>
                            </div>
                            <div class="pitch-content">
                                <h1>
                                    Organiser
                                </h1>
                                <p>
                                    Le moyen le plus sûr, de garantir la bonne conformité de vos achats en ligne, contrôler vos échanges entre vendeurs et acheteurs et de vous protéger en cas de litige.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                            <div class="pitch-icon">
                                <i class="ion-ios-eye">
                                </i>
                            </div>
                            <div class="pitch-content">
                                <h1>
                                    Economique
                                </h1>
                                <p>
                                    Éviter des frais de retour en demandant une preuve vidéo avant l’envoi du colis. Différents abonnement selon vos besoins.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </ion-content>
    <div ng-if="currentUser" ng-include src="'templates/footer.html'"></div>
</ion-view>
