<ion-view cache-view="false" view-title="Setting">
    <ion-header-bar align-title="center" class="header-pages">
        <div class="buttons">
            <button class="button button-clear btn-clean" ng-click="goTo(priviousUrl)">
                <i class="icon ion-android-arrow-back">
                </i>
            </button>
        </div>
        <h1 class="title">
            {{'DOWNLOAD_PROOF' | translate}}
        </h1>
        <button class="button button-clear btn-clean" ng-click="goTo('home')">
            <i class="icon ion-ios-close-outline">
            </i>
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="list" style="padding: 20px">
            <h3 class="md-title">Emails:</h3>           
            <chips ng-model="emails" render="render(data)">
                <chip-tmpl>
                    <div class="default-chip">
                        {{chip}}
                        <span class="icon ion-close" remove-chip="deleteChip(data)"></span>
                    </div>
                </chip-tmpl>
                <input name="userEmail" ng-keypress="clear()" chip-control placeholder="Entrer un email..."></input>
            </chips>
            <div ng-if="!isEmailValid" class="padding-top10">
                <p class="assertive">{{'email_error'| translate}}</p>
            </div>
        
            <div style="padding: 20px">
                <div style="color: #000;float: right;font-size: 12px;">
                    Vous payez
                </div>
                <br/>
                <div style="color: #000;float: right;font-size: 34px;padding-top: 10px;">
                    {{amount ? amount : 0}}€
                </div>
            </div>
            <button type="submit" class="button button-positive login-btn connexion-btn" ng-click="doDownloadPaiement()">
                Payer et télécharger
            </button>
        </div>
    </ion-content>
</ion-view>
