<ion-view view-title="Search" style="min-height: 300px" class='item-animate' cache-view="false">
  <ion-header-bar align-title="center" class="header-pages" ng-click="scrollTop()">
    <div class="buttons">
      <button ng-class="{'hide': data.showDelete}" class="button button-clear btn-clean" ng-click="goTo(priviousUrl)"><i class="icon ion-android-arrow-back"></i></button>
      <button ng-class="{'hide': !data.showDelete}" class="button button-clear btn-clean" ng-click="data.showDelete = false"><i class="icon ion-android-close"></i></button>
    </div>
    <h1 class="title">{{'NOTIFICATION'| translate}}</h1>
    <button class="button button-clear btn-clean" ng-click="goTo('inbox')">
          <span ng-if="$root.countUnreadMessages() > 0" class="notifications-badge">{{$root.countUnreadMessages()}}</span>
          <img class="message-img" src="img/icons/envelope.png" />
    </button>     
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item-input-inset item-search-input">
          <label class="item-input-wrapper">
              <i class="icon ion-search placeholder-icon"></i>
              <input ng-model="search" placeholder="{{'search'| translate}}" type="search"></input>
          </label>
          <button class="button-clear title-page-color button-input-close" ng-click="search = undefined">
              <i class="icon ion-android-close"></i>
          </button>
      </div>
      <ion-list class="list" show-delete="data.showDelete" can-swipe="true">
          <ion-item class="item item-avatar" collection-repeat="notification in notifications |searchField: 'message': 'userProfile.name'|filter: search| orderBy:'-updatedAt'" 
          ng-click="goTo(notification.action)" on-swipe-right="data.showDelete = !data.showDelete" on-long-press="data.showDelete = !data.showDelete">
            <img src="img/newuser.png" ng-if='!notification.userProfile.profile_picture'/>
            <img ng-src="{{notification.userProfile.profile_picture}}"  ng-if='notification.userProfile.profile_picture'/>
             <span class="item-note">{{notification.updatedAt | amCalendar}}</span>
            <h2>{{notification.userProfile.name}}</h2>
            <p class="item-two-line">{{notification.message}}</p>
            <ion-icon ng-if="notification.read === 0" name="car" class="icon-has-updates ion-ios-bell"></ion-icon>
            <ion-delete-button class="ion-minus-circled" ng-click="deleteNotification(notification)"></ion-delete-button>
            <ion-option-button class="button-balanced icon ion-checkmark" ng-click="setRead(notification)" side="left"></ion-option-button>
            <ion-option-button class="button-assertive icon ion-minus-circled" ng-click="deleteNotification(notification)"></ion-option-button>
          </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div ng-include src="'templates/footer.html'"></div>
</ion-view>
