<ion-view view-title="Setting" cache-view="false">
    <ion-content >
        <div class="header-pages">
            <table>
                <tr>
                    <td class="td-1"><button class="button button-clear btn-clean" ng-click="goTo('formulas')"><i class="icon ion-android-arrow-back"></i></button></td>
                    <td class="td-8"><p class="proof-title title-page-color">Paiement</p></td>
                    <td class="td-1" ng-click="goTo('home')"><img class="close-btn" src="img/close.png" ng-click="goTo('home')" /></td>
                </tr>
            </table>
        </div>
        <div class="list">
            <form name="paymentForm" class="padding" ng-submit="makeStripePayment(card)">
                <label class="item item-input item-stacked-label padding">
                    Type de carte :
                    <select ng-model="card.cardType" ng-options="type for type in ['Visa', 'American Express', 'MasterCard']"></select>
                </label>

                <label class="item item-input item-stacked-label padding">
                    Montant à payer : {{$root.amountToPay}} €
                    <input type="text" ng-model="card.amount" name="cardAmount" style="height:30px;border:1px solid grey; padding-left:10px;display: none" />
                </label>

                <label class="item item-input item-stacked-label padding">
                    Numéro de carte :
                    <input type="text" ng-model="card.number" name="cardNumber" cc-number cc-type="card.cardType" style="height:30px;border:1px solid grey; padding-left:10px" />
                </label>
                <label class="item item-input item-stacked-label padding">
                    CVC :
                    <input type="text" ng-model="card.cvc" cc-type="cardNumber.$ccType"
                           style="height:30px;border:1px solid grey; padding-left:10px"/>
                </label>
                <label class="item item-input item-stacked-label padding">
                    Date d'expiration :
                    <div cc-exp>
                        <input ng-model="card.exp_month" cc-exp-month style="height:30px;width:50px;border:1px solid grey; text-align:center" />
                        <input ng-model="card.exp_year" cc-exp-year style="height:30px;width:50px;border:1px solid grey; text-align:center" />
                    </div>
                </label>
                <div class="padding">
                    <button type="submit" ng-disabled="paymentForm.$invalid" class="button button-block button-positive">Payer</button>
                </div>
                <!--
                <p ng-show="paymentForm.cardNumber.$error.ccNumberType">That's not a valid {{card.cardType}}</p>
                <p ng-show="paymentForm.$invalid">That's not a valid Card Information</p>
                --><!--
                  <pre style="font-size:smaller">{{paymentForm}}</pre>
                  <pre style="font-size:smaller">{{card | json}}</pre>
                  <pre style="font-size:smaller">{{cardNumber | json}}</pre>
                -->
            </form>
        </div>
    </ion-content>
</ion-view>
