<ion-view view-title="Login" class="bg-public" cache-view="false">
    <ion-content class="padding ">
        <img class="back-btn" src="img/back.png" ng-click="goTo('login')" />
        <form name="resetForm">
            <p class="title-page"><span>{{'RESET_PASSWORD'| translate}}</span></p>
          
            <label class="item item-input item-floating-label">
                <span class="input-label">{{'EMAIL'| translate}} *</span>
                <input class="input-field" name="userEmail" required ng-pattern="/^.+@.+\..+$/" type="text" placeholder="{{'EMAIL'| translate}} *" ng-model="user.email">
            </label>
            <div ng-messages="resetForm.userEmail.$error" role="alert" ng-if='resetForm.userEmail.$dirty'>
                <div ng-message-exp="['required', 'pattern']" class='errorField'>
                    {{'email_error'| translate}}
                </div>
            </div>
            <button class="button button-block login-btn connexion-btn" ng-click="forgetPassword(user.email, resetForm)">
                {{'SEND'| translate}}
            </button>
        </form>
    </ion-content>
</ion-view>
