<ion-view view-title="Setting" style="min-height: 600px" cache-view="false">
    <ion-header-bar align-title="center" class="header-pages white" style="background: url('img/bg_profil.png');background-size: cover;">
        <div class="buttons">
          <button class="button button-clear btn-clean" ng-click="goTo(priviousUrl)"><i
            class="icon ion-android-arrow-back"></i></button>
        </div>
        <div class="title overflow-img" style="">
            <img ng-if='!profilPic' class='new-user-default' src="img/newuser.png"/>
            <img ng-if='profilPic' class='new-user-pic' ng-src="{{profilPic}}" ng-click="openPicture(profilPic)"/>
        </div>
        <div class="buttons">
            <button class="button button-icon ion-android-more-vertical"  ng-click="popover.show($event)" style="margin-top: -2px;">
            </button>
        </div>
    </ion-header-bar>
    <ion-content style="background: #f7f7f7;">         
            <div>
                <div style="float: left;width: 20%;margin-top: 25px;text-align: center;"><span style="font-size: 30px;">{{valideProof}}</span> <br /> Preuves réussies</div>
                <div style="float: left; width: 60%;">
                    <p class="name-user">{{name}}</p>
                    <p style="text-align: center" ng-if='createdDate'>Membre depuis le {{createdDate}}</p>
                </div>
                <div style="float: left;width: 20%;margin-top: 25px; text-align: center;"><span style="color: red; font-size: 30px;">{{noValideProof}}</span> <br /> Preuves échouées</div>
            </div>
            <div style="clear: both" class="notes-img">
                <img ng-src="img/icons/notes_{{profil.note ? profil.note : 0}}.png" /><span>({{nbrNotes}})</span>
            </div>
            <div class="list" style="background: #fff;">
                <div class="list" style="margin-top:30px;height: 70px;">
                    <div style="width: 50%;float: left;text-align: center; border-right: 1px solid #cccccc;"><p style="font-size: 40px;color: #6666ea;">{{sendVideo}}</p> <p style="color: #9a9a9a;">preuves<br /> envoyées</p></div>
                    <div style="width: 50%;float: left;text-align: center;"><p style="font-size: 40px;color: #b7ea7a;">{{receiptVideo}} </p> <p style="color: #9a9a9a;">preuves<br /> recues</p></div>
                </div>
                <div style="margin-top:30px;">
                    <div>
                        <ion-slide-box on-slide-changed="slideChanged($slideIndex)" show-pager="true" class="public-profil">                        
                             <ion-slide ng-repeat="lastVideoPage in lastVideosPages| orderBy:'createdAt'" style="margin-bottom: 30px;">
                                <div class="user-video"  ng-repeat="lastVideo in lastVideoPage" ng-style="{'background':'url({{lastVideo.thumb}}) no-repeat center center'}" 
                                ng-class="{'first-video': $index === 0, 'second-video': $index === 1, 'third-video': $index === 2}" ng-click="openVideo(lastVideo.url)">
                                    <img class="play" src="img/icons/play.png" />
                                    <span class="title">{{lastVideo.title}}</span>
                                    <time class="time">Envoyée <span am-time-ago="lastVideo.createdAt"></span></time>                  
                                </div>
                            </ion-slide>                        
                        </ion-slide-box>
                    </div>
                </div>
            </div>
            <div style="background: transparent;clear: both;width: 95%;margin-bottom: 25px;margin: 10px;">
                <ion-slide-box on-slide-changed="slideChanged($slideIndex)" show-pager="true" class="public-profil"> 
                    <ion-slide ng-repeat="notation in notations | orderBy:'-note'">
                        <div style="min-height: 200px;text-align: center;"  class="box list-subsc">                                
                            <div style="height: 100px;">
                                <img ng-src="{{notation.profile.profile_picture}}" ng-click="goTo('user/' + notation.commUserUid)" class="img-user-search" style="float: none;margin-right: 0;">
                                 <div style="clear: both" class="notes-img">
                                    <img ng-src="img/icons/notes_{{notation.note}}.png"  />                               
                                </div>  
                                <b>{{notation.profile.name}}</b>
                            </div>
                            
                            <ion-scroll class="energized" direction="y" style="border-radius: 10px;border: 1px solid;margin-bottom: 20px; ">
                               <p class="messages" style="text-align:left;height: 150px;padding: 10px;text-align: justify;">{{notation.notation}}</p>
                            </ion-scroll>                                                     
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <br/> 
            <br/> 
            <br/> 
    </ion-content>
</ion-view>
<script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view>
    <ion-content>
    <div class="list">
    <a ng-if='!isFriend && !isMyProfile' class="item" ng-click="addFriend()" target="_blank">
    Ajouter à mes favoris
    </a>
    <a ng-if='isFriend' class="item" ng-click="removeFriend()" target="_blank">
    Retirer de mes favoris
    </a>
    <a class="item" ng-if="isFriend" ng-click="sendMessage()" target="_blank">
    Envoyer un message
    </a>
    <a class="item" ng-click="close()" target="_blank">Quitter</a>
    </div>
    </ion-content>
    </ion-popover-view>
</script>
