<ion-view title="Moyen de paiement" cache-view="false">   
    <ion-header-bar align-title="center" class="header-pages">
        <div class="buttons">
          <button class="button button-clear btn-clean" ng-click="goTo(priviousUrl)"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">{{'CARDS'| translate}}</h1>
        <button class="button button-clear btn-clean" ng-click="goTo('home')"><i class="icon ion-ios-close-outline"></i></button>        
    </ion-header-bar>
    <ion-content class=" has-header">
        <div class="moyen-de-paiement" style="padding-bottom: 50px">
            <ion-list>
                <ion-item id="card{{card.id}}" ng-click="paymentEvent($event)" ng-repeat="card in filtered = (sources | omit: '!customer')">
                    <img data-val="{{card.id}}" ng-src="img/{{card.brand | lowercase}}.svg"/>
                    <span style="margin-left: 40px;" data-val="{{card.id}}">****{{card.last4}}</span>
                    <i ng-if="$root.currentProfile.default_source === card.id" class="icon ion-checkmark-circled positive" style="right: 27px;top: 35%;position: absolute;"></i>
                    <span class="margin-left20 ng-binding padding-left">{{card.exp_month}} / {{card.exp_year}}</span>                  
                    <ion-option-button ng-if="$root.currentProfile.default_source != card.id" class="button-energized icon ion-checkmark" ng-click="selectDefaultCard(card.id)"></ion-option-button>
                    <ion-option-button class="button-assertive icon ion-close" ng-click="deleteCard(card.id, card.key)"></ion-option-button>                    
                </ion-item>
            </ion-list>
        </div>
        <div ng-if="filtered.length == 0" class="moyen-de-paiement">
            <div style="text-align: center">
                <br />
                <img style="width: 75px;height: 42px;" src="img/icons/no_card.png" /><br /><br />
                <p style="font-size: 16px;font-weight: bold">{{'NO_CARD'| translate}}</p>
            </div>
        </div>
    </ion-content>
<div ng-include src="'templates/footer.html'"></div>
</ion-view>
