<circular options="options"></circular>
<ion-footer-bar id="bar-footer" class="bar bar-footer bar-balanced bar-item-footer hide-on-keyboard-open" style="padding: 0px;">
    <div class="title title-footer">
        <table class="tab-home">
            <tr>
                <td class="td-15 td-footer text-center">
                    <button class="button button-clear btn-clean" ng-click="goTo('home')">
                        <span ng-if="$root.countUnreadProof() > 0" class="badge bell-has-notif">{{$root.countUnreadProof()}}</span>
                        <img ion-img-cache ng-if="state != 'home'" class="message-img" src="img/icons/home.png" />
                        <img ion-img-cache ng-if="state == 'home'" class="message-img" src="img/icons/home-active.png" />
                    </button>
                </td>
                <td class="td-15 td-footer text-center">
                    <button class="button button-clear btn-clean" ng-click="goTo('contact')">
                    <img ion-img-cache ng-if="state != 'contact'" class="message-img" src="img/icons/friends.png" />
                    <img ion-img-cache ng-if="state == 'contact'" class="message-img" src="img/icons/friends-active.png" />
                    </button>
                </td>
                <td align="center" class="td-25">
                    <button class="button-clear zbutton" long-press-duration="300" on-long-press="onLongPress(currentForm)" ng-click="actionMenu(currentForm)">
                        <progress-arc size="85" class="zprogress" stroke="{{ progress > 0.4 ? '#0a73d2' : '#fa3f55' }}" stroke-width="3"  background="transparent" counter-clockwise="true" complete="progress"></progress-arc>
                        <img ion-img-cache id="button-z" ng-if="progress == undefined || progress > 0.1" class="zeokay-img" ng-src="{{ imgMenu ? imgMenu : 'img/icons/zeokay.png' }}"/>
                        <img ion-img-cache id="button-z" ng-if="progress <= 0.1" class="zeokay-img" ng-src="{{ imgMenuRed ? imgMenuRed : 'img/icons/zeokay-red.png' }}"/>
                    </button>
                </td>
                <td class="td-15 td-footer text-center">
                    <button class="button button-clear btn-clean" ng-click="goTo('notification')">
                        <span ng-if="$root.countUnreadNotifs() > 0" class="badge bell-has-notif" style="top: 0px !important;">{{$root.countUnreadNotifs()}}</span>
                        <img ion-img-cache ng-if="state != 'notification'" class="message-img" src="img/icons/bell.png" />
                        <img ion-img-cache ng-if="state == 'notification'" class="message-img" src="img/icons/bell-active.png" />
                    </button>
                </td>
                <td class="td-15 td-footer text-center">
                    <button class="button button-clear btn-clean" ng-click="goTo('setting')">
                      <img ion-img-cache class="message-img" src="img/icons/settings.png"/>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</ion-footer-bar>