<ion-view view-title="Setting" cache-view="false">
    <ion-header-bar align-title="center" class="header-pages">
        <div class="buttons">
          <button class="button button-clear btn-clean" ng-click="goTo(priviousUrl)"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">{{'FORMULAS'| translate}}</h1>
        <button class="button button-clear btn-clean" ng-click="goTo('home')"><i class="icon ion-ios-close-outline"></i></button>        
    </ion-header-bar>
    <ion-content >       
        <div class="list">
            <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" class="public-profil">
                <ion-slide ng-repeat="formula in formulas">
                    <div>
                        <div class="item item-text-wrap" style="height: 74px;">
                            <div style="float: left">
                                <p style='color: #0a73d2;font-size: 17px;'>{{formula.name}}</p>
                            </div>
                            <div style="color: #000;float: right;font-weight: bold;font-size: 14px;">{{formula.price.month}}{{formula.price.currency}}/mois</div><br/>
                            <div style="color: #000;float: right;font-weight: bold;font-size: 14px;">{{formula.price.year}}{{formula.price.currency}}/an</div>
                        </div>
                        <div style="padding: 30px;">
                            <ul class='list-subsc'>
                                <li><p><b>{{formula.nbr_proof}}</b> Preuves envoyées Par mois.</p></li>
                                <li><p>Durée de Capture <b>{{formula.capture_duration}}</b> minutes par vidéo.</p></li>
                                <li><p>Durée de Preuve Limitée à {{formula.storage_duration}} Jours.</p></li>
                                <li><p>Envoi <b>{{formula.nbr_photos != 9999 ? 'limité à ' + formula.nbr_photos : 'Illimité'}}</b> photos lors de la finalisation de l’envoi.</p></li>
                                <li><p>Nombre d’affichage limité à <b>{{formula.nbr_profile_video}}</b> preuves sur son profil, le temps de la durée limité.</p></li>
                                <li><p>Suivi de Colis (Expédition – Acheminement – Colis reçu)</p></li>
                                <!-- <li><p>Téléchargement limitées à 3 Photos.</p></li> -->
                                <li><p>Messagerie instantanée.</p></li>
                            </ul>
                        </div>
                    </div>
                </ion-slide>               
            </ion-slide-box>
            <button class="button button-block login-btn connexion-btn" ng-click="goTo('recap')" style="background: #0a73d2;margin-bottom: 200px;color: white;font-size: 15px;text-transform: initial;">
                Séléctionner
            </button>
        </div>
    </ion-content>
</ion-view>
