<ion-view view-title="Home" cache-view="false">
    <ion-header-bar align-title="center" class="header-pages" ng-click="hideKeyboard()">
        <button class="button button-clear btn-clean" ng-click="goToPublicProfil()">
            <img class="message-img" src="img/icons/me.png" />
        </button>

        <div class="title" style="padding-top: 7px;">
            <button ng-click="showSend()" class="button sended-btn {{ $root.showSendVideo ? 'active-home' : '' }}">
                {{'SENDED'| translate}}
            </button>

            <button ng-click="showRecieved()" class="button recieved-btn {{ !$root.showSendVideo ? 'active-home' : '' }}">
                {{'RECIEVED'| translate}}
            </button>
        </div>

        <button class="button button-clear btn-clean" ng-click="goTo('inbox')">
            <span ng-if="$root.countUnreadMessages() > 0" class="badge bell-has-notif">{{$root.countUnreadMessages()}}</span>
            <img class="message-img" src="img/icons/envelope.png" />
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="item-input-inset item-search-input">
            <label class="item-input-wrapper">
              <i class="icon ion-search placeholder-icon"></i>
              <input ng-model="search" placeholder="{{'search'| translate}}" type="search"></input>              
            </label>
            <button class="button-clear title-page-color button-input-close" ng-click="search = undefined">
              <i class="icon ion-android-close"></i>
          </button>
        </div>        
        <div ng-show="showSendVideo">
            <p ng-if="videos.length == 0" style="padding: 20px">{{'NOVIDEO'| translate}}</p>
            <ion-list show-delete="false" can-swipe="true" class="listHome" ng-if="videos.length > 0">
                <ion-item ng-repeat="video in videos|searchField: 'title': 'receipt_name'|filter: search | orderObjectByDate | limitTo: ($root.videosLimit||100)" class="item item-video" style="height: 100px;">
                    <div style="padding: 9px; height: 100px;" ng-click="goTo('proof_detail', {slug: video.key})">
                        <section spinner-on-load class="video home-video" ng-style="{'background-image': 'url({{video.thumb}})'}">
                        </section>
                        <div class="info-video">
                            <h2 style="font-weight: {{ video.status.hasOwnerUpdates == 1 ? 'bold' : 'normal' }};" class="item-content text-item text-left">{{ video.title}}</h2>
                            <h4 class="owner-name">{{ video.receipt_name}}</h4>
                            <p style="margin-top: 11px;color: #bfcad1;font-size: 12px;">
                                <img ng-if="video.validate === 1" style="width: 18px;margin-right: 5px;float: left;margin-top: 3px;" src="img/icons/icon-v2.png" />
                                <img ng-if="video.validate === 0" style="width: 18px;margin-right: 5px;float: left;margin-top: 3px;" src="img/icons/icon-v1.png" />
                                <span ng-if="!video.updatedAt">Crée <span>{{video.createdAt | amCalendar}}</span></span>
                                <span ng-if="video.updatedAt">Mis à jour <span>{{video.updatedAt | amCalendar}}</span></span>
                            </p>
                            <img ng-if="!video.validate" src="img/icons/video-ic1.png" class="img-add-user right-ic" />
                            <span ng-if="video.validate === 1" class="button button-small button-balanced img-add-user right-ic"><i class="ion ion-ios-checkmark-outline"></i></span>
                            <img ng-if="video.validate === 0" src="img/icons/video-ic3.png" class="img-add-user right-ic" />
                            <ion-icon ng-if="video.confirm_send_colis === 1 && !video.confirm_recept_colis" name="car" class="delivery-icon icon positive flaticon-delivery-truck"></ion-icon>
                            <ion-icon ng-if="video.confirm_recept_colis && !video.confirm_proof_recept && !video.refuse_proof_recept" name="car" class="delivery-icon icon positive flaticon-delivery-worker-giving-a-box-to-a-receiver"></ion-icon>
                            <ion-icon ng-if="video.confirm_proof_recept || video.refuse_proof_recept" name="car" class="delivery-icon flaticon-finish"></ion-icon>
                            <ion-icon ng-if="video.status.hasOwnerUpdates === 1" name="car" class="icon-has-updates ion-ios-bell"></ion-icon>
                        </div>
                    </div>
                    <ion-option-button class="button-energized icon ion-archive" ng-click="goTo('download', {slug: video.key})"></ion-option-button>
                    <ion-option-button class="button-assertive icon ion-close" ng-click="deleteVideo(video)"></ion-option-button>
                </ion-item>
                <ion-item ng-if="$root.videosLimit < videos.length" ng-click="$root.videosLimit = $root.videosLimit + 10" class="padding text-center energized-bg light" style="height: 20px;padding: 2px">
                    <i class="icon ion-ios-arrow-down"></i>
                </ion-item>
            </ion-list>

        </div>

        <div ng-show="!showSendVideo">
            <p ng-if="receiptvideos.length == 0" style="padding: 20px">{{'NOVIDEO'| translate}}</p>
            <ion-list show-delete="false" can-swipe="true" class="listHome" ng-if="receiptvideos.length > 0">
                <ion-item ng-repeat="video in receiptvideos|omit: 'recieve_delete === 1'|searchField: 'title': 'owner_name'|filter: search |orderObjectByDate | limitTo: ($root.rvideosLimit||100) track by video.key" class="item item-video" style="height: 100px;">
                    <div style="padding: 9px; height: 100px;" ng-click="goTo('proof_detail', {slug: video.key})">
                        <section spinner-on-load class="video home-video" ng-click="open($event)" ng-style="{'background-image': 'url({{video.thumb}})'}">
                        </section>
                        <div class="info-video">
                            <h2 style="font-weight: {{ video.status.hasReceiverUpdates == 1 ? 'bold' : 'normal' }};" class="item-content text-item text-left">{{video.title}}</h2>
                            <h4 class="owner-name">{{ video.owner_name}}</h4>
                            <p style="margin-top: 11px;color: #bfcad1;font-size: 12px;">
                                <img style="width: 18px;margin-right: 5px;float: left;margin-top: 3px;" src="img/icons/icon-v2.png" />
                                <span ng-if="!video.updatedAt">Crée <span>{{video.createdAt | amCalendar}}</span></span>
                                <span ng-if="video.updatedAt">Mis à jour <span>{{video.updatedAt | amCalendar}}</span></span>
                            </p>
                        </div>
                        <img ng-if="!video.validate" src="img/icons/video-ic1.png" class="img-add-user right-ic" />
                        <span ng-if="video.validate === 1" class="button button-small button-balanced img-add-user right-ic"><i class="ion ion-ios-checkmark-outline"></i></span>
                        <img ng-if="video.validate === 0" src="img/icons/video-ic3.png" class="img-add-user right-ic" />
                        <ion-icon ng-if="video.confirm_send_colis === 1 && !video.confirm_recept_colis" name="car" class="delivery-icon icon positive flaticon-delivery-truck"></ion-icon>
                        <ion-icon ng-if="video.confirm_recept_colis && !video.confirm_proof_recept && !video.refuse_proof_recept" name="car" class="delivery-icon icon positive flaticon-delivery-worker-giving-a-box-to-a-receiver"></ion-icon>
                        <ion-icon ng-if="video.confirm_proof_recept || video.refuse_proof_recept" name="car" class="delivery-icon flaticon-finish"></ion-icon>
                        <ion-icon ng-if="video.status.hasReceiverUpdates == 1" name="car" class="icon-has-updates ion-ios-bell"></ion-icon>
                    </div>
                    <ion-option-button class="button-energized icon ion-archive" ng-click="goTo('download', {slug: video.key})"></ion-option-button>
                    <ion-option-button class="button-assertive icon ion-close" ng-click="deleteVideo(video)"></ion-option-button>
                </ion-item>
                <ion-item ng-if="$root.rvideosLimit < receiptvideos.length" ng-click="$root.rvideosLimit = $root.rvideosLimit + 10" class="padding text-center energized-bg light" style="height: 20px;padding: 2px">
                    <i class="icon ion-ios-arrow-down"></i>
                </ion-item>
            </ion-list>            
        </div>
    </ion-content>
    <div ng-include src="'templates/footer.html'"></div>
</ion-view>