<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false" cache-view="false">
  <ion-header-bar align-title="center" class="header-pages" ng-click="scrollTop()">
    <div class="buttons">
      <button class="button button-clear btn-clean" ng-click="goTo(priviousUrl)"><i class="icon ion-android-arrow-back"></i></button>
    </div>
    <h1 class="title">{{friend.name}}</h1>
    <button class="button button-clear btn-clean" ng-click="goTo('home')"><i class="icon ion-ios-close-outline"></i></button>
  </ion-header-bar>
  <ion-content on-long-press="scrollBottom()" class="has-footer">
    <ol class="list messages padding-top10">
      <div ng-click="limit = limit + 10" class="padding text-center">
        <a ng-if="messages.length > limit" href="" class=""><i class="icon ion-plus"></i>Afficher plus</a>
      </div>
      <li class="{{message.fromId != $root.currentUser.uid ? 'self' : 'other'}} margin-left10 margin-right10"
          ng-repeat="message in messages | orderBy: '-updatedAt' | limitTo: limit | orderBy: 'updatedAt'">

        <div ng-if="message.fromId != $root.currentUser.uid" class="avatar pic-chat">
          <img src="img/newuser.png" ng-if='!friend.profile_picture'/>
          <img ng-if='friend.profile_picture' ng-src="{{ friend.profile_picture}}"/>
        </div>
        <div class="msg" ng-if="message.type != 'image'">
            <p ng-class="{'error-msg': message.type == 'text_error'}"><span class="icon ion-close-circled" ng-if="message.type == 'text_error'"></span> {{message.message}}</p>
          <time>
            <i class="icon ion-clock"></i>&nbsp;<span>{{message.updatedAt | amCalendar}}</span>
          </time>
        </div>
        <div class="msg" ng-if="message.type == 'image'">
          <img ng-src='{{message.image}}' imageonload="scrollBottom()" alt='' ng-click="enlargeImage(message.image)"/>
          <time>
            <i class="icon ion-clock"></i>&nbsp;<span>{{message.updatedAt | amCalendar}}</span>
          </time>
        </div>
      </li>
    </ol>   
  </ion-content>
  <ion-footer-bar keyboard-attach class="item-input-inset bar-light msg-footer-bar" ng-click="scrollBottom()">
    <button ng-click="sendPictureMessage()" class="button button-clear btn-send"><i
      class="icon ion-ios-camera-outline"></i></button>
    <label class="item-input-wrapper">
      <input type="text" placeholder="{{'ENTER_MSG'| translate}}" ng-model="message" >
    </label>
    <button class="button button-clear btn-send" type="submit" ng-click="sendTextMessage()">
      <span class="icon ion-ios-paperplane"></span>
    </button>
  </ion-footer-bar>
</ion-view>

