<ion-view view-title="Register" class="bg-public" cache-view="false">
    <ion-header-bar align-title="center" class="hcovert-proof header-pages white">
        <div class="buttons">
            <button class="button button-clear btn-clean" ng-click="goTo('login')"><img class="back-btn" src="img/back.png"/></button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="registerForm">
            <p class="register-page"><span>{{'CREATE_ACCOUNT'| translate}}</span></p>
            <label class="item item-input item-floating-label">
                <span class="input-label">{{'EMAIL'| translate}}</span>
                <input class="input-field" ng-required="true" ng-pattern="/^.+@.+\..+$/" type="text" name="userEmail" ng-model="user.email" capitalize placeholder="{{'EMAIL'| translate}}" >
            </label>
            <div ng-messages="registerForm.userEmail.$error" role="alert" ng-if='registerForm.$submitted || registerForm.userEmail.$dirty'>
                <div ng-message-exp="['required', 'pattern']" class='errorField'>
                    {{'email_error'| translate}}
                </div>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">{{'USERNAME'| translate}}</span>
                <input class="input-field" type="text" name="userName" ng-required="true" placeholder="{{'USERNAME'| translate}}" ng-model="user.username">
            </label>
            <div ng-messages="registerForm.userName.$error" role="alert" class='errorField' ng-if='registerForm.$submitted || registerForm.userName.$dirty'>
                <div ng-message-exp="['required']">
                    {{'required_field'| translate}}
                </div>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">{{'Nom'| translate}}</span>
                <input class="input-field" name='LastName' type="text" ng-required="true" placeholder="Nom" ng-model="user.name">
            </label>
            <div ng-messages="registerForm.LastName.$error" role="alert" class='errorField' ng-if='registerForm.$submitted || registerForm.LastName.$dirty'>
                <div ng-message-exp="['required']">
                    {{'required_field'| translate}}
                </div>
            </div>
			<label class="item item-input item-floating-label">
                <span class="input-label">{{'Prénom'| translate}}</span>
                <input class="input-field" name='FirstName' type="text" ng-required="true" placeholder="Prénom" ng-model="user.firstname">
            </label>
            <div ng-messages="registerForm.FirstName.$error" role="alert" class='errorField' ng-if='registerForm.$submitted || registerForm.FirstName.$dirty'>
                <div ng-message-exp="['required']">
                    {{'required_field'| translate}}
                </div>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">{{'PHONE'| translate}}</span>
                <input class="input-field" name="phone" type="text" placeholder="{{'PHONE'| translate}}" ng-required="true" ng-model="user.phone" maxlength="16" minlength="8" ng-pattern="/^[0-9]*$/">
            </label>
            <div ng-messages="registerForm.phone.$error" role="alert" required class='errorField' ng-if='registerForm.$submitted || registerForm.phone.$dirty'>
                <div ng-message-exp="['required']">
                    {{'required_field'| translate}}
                </div>
                <div ng-message-exp="['maxlength', 'minlength', 'pattern']">
                    {{'incorrect_field'| translate}}
                </div>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">{{'PASSWORD'| translate}}</span>
                <input class="input-field" name="password" minlength="6" ng-required="true" type="password" placeholder="{{'PASSWORD'| translate}}" ng-model="user.password" ng-pattern="/(?=.*[1-9])(?=.*[A-Z])(?=.*[$@$!%*#?&])(?=.*[^a-zA-Z])/">
            </label>
            <div ng-messages="registerForm.password.$error" role="alert"  class='errorField' ng-if='registerForm.$submitted || registerForm.password.$dirty'>
                <div ng-message-exp="['required', 'minlength', 'pattern']">
                    {{'required_field_pass'| translate}}
                </div>
            </div>
            <br />
          
            <div class="center checkbox">
                <li class="item item-checkbox">
                    <div class="checkbox">
                        <input type="checkbox" name='userCGU' ng-model="user.cgu" ng-required="true">
                    </div>
                    <p class="cgu-text" style="color: white;float: left; margin-right: 4px">{{'ACCEPT_CGU'| translate}} </p>
                    <a href="" class="create-account-link cgu-link" stop-event ng-click="showCgu()"> les CGU</a>
                </li>
                <div ng-messages="registerForm.userCGU.$error" role="alert" class='errorField' ng-if='registerForm.$submitted || registerForm.userCGU.$dirty'>
                    <div ng-message-exp="['required']">
                        {{'required_field'| translate}}
                    </div>
                </div>
            </div>
            <button class="button button-block login-btn connexion-register" type="submit" ng-click="createUser(user, registerForm)">
                {{'CREATE_ACCOUNT'| translate}}
            </button>

        </form>
    </ion-content>
</ion-view>
