<ion-view view-title="Search" style="min-height: 300px" class='item-animate' cache-view="false">
    <ion-header-bar align-title="center" class="header-pages" ng-click="scrollTop()">
        <div class="buttons">
            <button class="button button-clear btn-clean" ng-click="goTo('contact')"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">{{'search'| translate}}</h1>
        <button class="button button-clear btn-clean" ng-click="goTo('home')"><i class="icon ion-ios-close-outline"></i></button>
    </ion-header-bar>
    <ion-content>
        <div class="item-input-inset item-search-input">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="{{'search'| translate}}" ng-model="searchQuery">
            </label>
            <button class="button-clear title-page-color button-input-close" ng-click="searchQuery = undefined">
                <i class="icon ion-android-close"></i>
            </button>
        </div>
        <div class="list">
            <ion-list show-delete="false" can-swipe="true" class="listHome">
                <ion-item ng-repeat="user in filteredUsers = (listUsers|omit: omitUsers|searchField: 'name': 'username' : 'email' |filter: searchQuery) |orderBy: 'createdAt' | limitTo: 200 " class="item" ng-click="showUser(user.key)">
                    <img src="img/newuser.png" class='img-user-default' ng-if='!user.profile_picture' />
                    <img ng-src="{{user.profile_picture}}" class='img-user-search' ng-if='user.profile_picture' />
                    <span class="item-note">Membre&nbsp;<span am-time-ago="user.createdAt" class="item-note"></span></span>
                    <div>
                        <p>{{user.name}}</p>
                        <p>{{user.email}}</p>
                        <div style="text-align: left;" class="notes-img">
                            <img ng-src="img/icons/notes_{{user.note ? user.note : 0}}.png" />
                        </div>
                    </div>
                    <ion-option-button ng-if="user.email != 'admin@zeokay.fr'" class="button-energized icon ion-ios-plus-outline" ng-click="addFavorite(user.key)"></ion-option-button>
                </ion-item>
            </ion-list>
            <div class="no-user-container" ng-if="filteredUsers.length == 0 && searchQuery">
                <img src="img/icons/no_user.png" />
                <p>{{'NO_USER_FOUND'| translate}}</p>
                <button class="button button-block login-btn connexion-btn" ng-click="showMail()" type="submit">
                    {{'SEND_MAIL'| translate}}
                </button>
            </div>
        </div>
    </ion-content>
    <div ng-include src="'templates/footer.html'"></div>
</ion-view>