<ion-view view-title="Setting" cache-view="false">
     <ion-header-bar align-title="center" class="header-pages">
        <div class="buttons">
          <button class="button button-clear btn-clean" ng-click="goTo('home')"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">{{'PROOFBUY'| translate}}</h1>
        <button class="button button-clear btn-clean" ng-click="goTo('home')"><i class="icon ion-ios-close-outline"></i></button>        
    </ion-header-bar>
    <ion-content >        
        <div class="list" style="padding: 20px"> 
            <div class="item-content item-input-inset">
                <label class="item item-floating-label">
                    <label style='color: #0a73d2;font-size: 17px;'>{{$root.currentFormula.name}}</label>  
                </label>
                <button class="button button-clear button-small button-positive"  ng-click="goTo('/formulas')"><i class="icon ion-edit"></i></button>    
            </div>           
                        
            <div class="item-text-wrap" style="padding: 20px;">
               <p class="description-line">{{'QTY'| translate}}: <b class="product-quantity">{{prrof_qty}}</b></p>                     
               <div class="button-bar input-number">                   
                    <a class="button icon ion-minus-round value-down-button" ng-click="minusOne()"></a>
                    <a class="button icon ion-plus-round value-up-button" ng-click="plusOne()"></a>
                </div>
            </div>
            <div style="padding: 20px">
                 <div style="float: left">
                        <img  src="img/icons/recap_icon.png" />
                        <p style='color: #000;font-size: 12px;'>Jusqu'au {{dateEnd}}</p>
                </div>
                <div style="color: #000;float: right;font-size: 12px;">Vous payez</div><br/>
                <div style="color: #000;float: right;font-size: 34px;padding-top: 10px;">{{calculAmount()}}€</div>
            </div>
            <button class="button button-block login-btn connexion-btn" ng-click="doPaiement()" style="background: #0a73d2;margin-bottom: 200px;color: white;    font-size: 15px;text-transform: initial;">
                Payer
            </button>
        </div>
    </ion-content>
</ion-view>
