<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi">-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Zeokay</title>
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ion-autocomplete/dist/ion-autocomplete.css" rel="stylesheet">
    <link href="lib/ion-autocomplete/dist/ion-autocomplete.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/angular-circular-navigation/angular-circular-navigation.css">
    <link type="text/css" rel="stylesheet" href="lib/firebaseui/dist/firebaseui.css" />
    <link rel="stylesheet" type="text/css" href="fonts/flaticon/flaticon.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body ng-app="zeokey" class="platform-android platform-cordova platform-webview">
    <!--
      The nav bar that will be updated as we navigate between views.
        -->

    <ion-nav-bar class="bar-stable" ng-if="$root.showNavBar">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view>
    </ion-nav-view>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="cordova_plugins.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="lib/ng-cordova-oauth/dist/ng-cordova-oauth.min.js"></script>
    <!-- <script src="lib/angular/angular.min.js"></script> -->
    <script src="lib/angular-translate/angular-translate.min.js"></script>
    <script src="lib/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="lib/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
    <script src="lib/angular-long-press/dist/angular-long-press.min.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
    <!-- <script src="lib/jquery/dist/jquery.min.js"></script> -->
    <script src="lib/videogular/videogular.js"></script>
    <script src="lib/videogular-controls/vg-controls.js"></script>
    <script src="lib/videogular-overlay-play/vg-overlay-play.js"></script>
    <script src="lib/videogular-poster/vg-poster.js"></script>
    <script src="lib/videogular-buffering/vg-buffering.js"></script>
    <script src="lib/angular-progress-arc/angular-progress-arc.min.js"></script>
    <script src="lib/angular-filter/dist/angular-filter.min.js"></script>
    <script src="lib/ionic-img-cache/ionic-img-cache.js"></script>
    <script src="lib/imgcache.js/js/imgcache.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-chips/dist/angular-chips.min.js"></script>
    <!--<script src="lib/angular-material/angular-material.js"></script> -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/angular-messages/angular-messages.min.js"></script>
    <script src="lib/ngvideo/dist/ng-video.min.js"></script>
    <script src="lib/ion-autocomplete/dist/ion-autocomplete.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/moment/locale/fr.js"></script>
    <script src="lib/angular-moment/angular-moment.min.js"></script>
    <script src="lib/angular-credit-cards/release/angular-credit-cards.js"></script>
    <script src="lib/angular-circular-navigation/angular-circular-navigation.js"></script>
    <!-- Firebase -->
    <script src="lib/firebase/firebase.js"></script>
    <!-- AngularFire -->
    <script src="lib/angularfire/dist/angularfire.min.js"></script>
    <script src="lib/firebaseui/dist/firebaseui.js"></script>

    <!-- your app's data -->
    <script src="data/languages.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/controllers/DashboardCtrl.js"></script>
    <script src="js/controllers/LoginCtrl.js"></script>
    <script src="js/controllers/RegisterCtrl.js"></script>
    <script src="js/controllers/HomeCtrl.js"></script>
    <script src="js/controllers/ProofCtrl.js"></script>
    <script src="js/controllers/SettingCtrl.js"></script>
    <script src="js/controllers/ProfilCtrl.js"></script>
    <script src="js/controllers/ResetPasswordCtrl.js"></script>
    <script src="js/controllers/CardCtrl.js"></script>
    <script src="js/controllers/HelpCtrl.js"></script>
    <script src="js/controllers/AboutCtrl.js"></script>
    <script src="js/controllers/SubscriptionCtrl.js"></script>
    <script src="js/controllers/FormulaCtrl.js"></script>
    <script src="js/controllers/RecapCtrl.js"></script>
    <script src="js/controllers/UnitBuyCtrl.js"></script>
    <script src="js/controllers/InboxCtrl.js"></script>
    <script src="js/controllers/DownloadCtrl.js"></script>
    <script src="js/controllers/SearchCtrl.js"></script>
    <script src="js/controllers/ContactCtrl.js"></script>
    <script src="js/controllers/MessageCtrl.js"></script>
    <script src="js/controllers/UserCtrl.js"></script>
    <script src="js/controllers/NotificationCtrl.js"></script>
    <script src="js/controllers/ProofDetailCtrl.js"></script>
    <script src="js/controllers/PaiementCtrl.js"></script>
    <script src="js/services/push-service.js"></script>
</body>

</html>