<ion-modal-view>
    <ion-header-bar class="bar bar-header header-pages">
        <h1 class="title">Lecture simultanée</h1>
        <button class="button button-primary" ng-click="modal.hide()">Fermer</button>
    </ion-header-bar>
    <ion-content class="padding">
        <videogular vg-theme="controller.config.theme" data-vg-player-ready="controller.onPlayerReady($API)" style="width: 100%; height: 200px">
            <vg-media vg-src="$root.firstVideo"
                      vg-tracks="controller.config.tracks">
            </vg-media>
            <vg-controls style="overflow: auto">
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
            <vg-overlay-play></vg-overlay-play>
            <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
        </videogular>
        
        <videogular vg-theme="controller.config.theme" style="width: 100%;height: 200px;margin-top: 20px">
            <vg-media vg-src="$root.secondVideo"
                      vg-tracks="controller.config.tracks">
            </vg-media>
            <vg-controls style="overflow: auto">
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
            <vg-overlay-play></vg-overlay-play>
            <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
        </videogular>
    </ion-content>
</ion-modal-view>
