<ion-view view-title="Setting" cache-view="false">
     <ion-header-bar align-title="center" class="header-pages">
        <div class="buttons">
          <button class="button button-clear btn-clean" ng-click="goTo('formulas')"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">{{'RECAP'| translate}}</h1>
        <button class="button button-clear btn-clean" ng-click="goTo('home')"><i class="icon ion-ios-close-outline"></i></button>        
    </ion-header-bar>
    <ion-content >        
        <div class="list">
            <div>
                <div class="item item-text-wrap" style="margin: 0 auto;width: 90%;border: none;">
                    <div>
                        <p style='color: #0a73d2;font-size: 17px;text-align: center'>{{$root.selectedFormula.name}}</p>
                    </div>
                </div>                
            </div>            
            <div class="item-text-wrap" style="padding: 20px">
                <div style="float: left">
                    <img  src="img/icons/recap_icon.png" />
                    <p style='color: #000;font-size: 12px;'>Jusqu'au {{dateEnd}}</p>
                </div>
                <div style="color: #000;float: right;font-size: 12px;">Vous payez</div><br/>
                <div style="color: #000;float: right;font-size: 34px;padding-top: 10px;">{{$root.amountToPay}}€</div>
            </div>
            <button class="button button-block login-btn connexion-btn" ng-click="doPaiement()" style="background: #0a73d2;margin-bottom: 200px;color: white;font-size: 15px;text-transform: initial;">
                Payer
            </button>
        </div>
    </ion-content>
</ion-view>
