<ion-view cache-view="true" view-title="Help" class="header-help">
    <ion-header-bar align-title="center" class="bar bar-dark tansparent">
        <div class="buttons">
            <button class="button button-clear" ng-click="goTo(priviousUrl)">
                <i class="icon ion-android-arrow-back">
                </i>
            </button>
        </div>
        <h1 class="title">
            {{'HELP'| translate}}
        </h1>
        <button class="button button-clear" ng-click="goTo('home')">
            <i class="icon ion-ios-close-outline">
            </i>
        </button>
    </ion-header-bar>
    <ion-content has-bouncing="false" overflow-scroll="true">
        <div class="wpb_wrapper">
            <div class="pitch text-center" id="concept">
                <div class="container">
                    <h1 class="wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        Comment ça marche ?
                    </h1>
                    <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        Innovante, simple et indispensable pour vos ventes ou vos achats en ligne entres particuliers.
                    </p>
                    <div class="col-md-4 features-left">
                        <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="icon">
                                <i class="ion-xbox">
                                </i>
                            </div>
                            <div class="feature-single">
                                <h1>
                                    Envoyer une preuve
                                </h1>
                                <p>
                                    Cliquer sur le logo ZeOkay pour démarrer votre capture en temps réel. Sélectionner ensuite le profil de l’utilisateur pour lui envoyer votre preuve vidéo.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="icon">
                                <i class="ion-steam">
                                </i>
                            </div>
                            <div class="feature-single">
                                <h1>
                                    Validation d’une preuve
                                </h1>
                                <p>
                                    Lorsqu’un utilisateur a validé votre preuve d’envoi, vous pouvez envoyer votre colis sereinement. S’il s’agit d’une preuve de réception votre échange est maintenant clos.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="icon">
                                <i class="ion-social-instagram-outline">
                                </i>
                            </div>
                            <div class="feature-single">
                                <h1>
                                    Contrôle d’une preuve
                                </h1>
                                <p>
                                    Analyser vos preuves par une lecture vidéo simultanée en cas de doute sur l’aspect du conditionnement lors de sa réception.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <img alt="App" width="200px" class="img-responsive" src="http://zeokay.com/wp-content/uploads/2016/11/iphone-zeokay4.png"/>
                    </div>
                    <div class="col-md-4 features-left">
                        <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="icon">
                                <i class="ion-social-html5-outline">
                                </i>
                            </div>
                            <div class="feature-single">
                                <h1>
                                    Profil
                                </h1>
                                <p>
                                    Jugé par les autres utilisateurs avec qui vous avez échangé vos preuves.  Votre profil ne dépend que de votre honnêteté. Vous pouvez  afficher vos preuves pour exprimer votre fiabilité.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="icon">
                                <i class="ion-social-github">
                                </i>
                            </div>
                            <div class="feature-single">
                                <h1>
                                    Suivi d’une preuve
                                </h1>
                                <p>
                                    Suivez votre colis grâce aux liens accessibles envoyés suite à votre commande. Ces derniers comportent différents statuts et correspondent à une étape d'acheminement de votre colis.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="icon">
                                <i class="ion-social-dropbox">
                                </i>
                            </div>
                            <div class="feature-single">
                                <h1>
                                    Télécharger votre preuve
                                </h1>
                                <p>
                                    Besoin d’un recours qui va au-delà d’un simple litige, alors télécharger votre preuve qui est votre plus grande garantie.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </ion-content>
    <div ng-if="currentUser" ng-include src="'templates/footer.html'"></div>
</ion-view>
