<ion-view cache-view="false" class="item-animate" view-title="Proof">
    <ion-header-bar align-title="center" class="header-pages" ng-click="scrollTop()">
        <div class="buttons">
            <button class="button button-clear btn-clean" ng-click="goTo(priviousUrl)">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </div>
        <h1 class="title" ng-if="mode == 'Messages'">
            {{'INBOX'| translate}}
        </h1>
        <h1 class="title" ng-if="mode == 'Compose'">
            {{'NEW_MSG'| translate}}
        </h1>
        <button class="button button-clear btn-clean"  ng-click="goTo('inbox')">
            <span ng-if="$root.countUnreadMessages() > 0" class="badge bell-has-notif">{{$root.countUnreadMessages()}}</span>
            <img class="message-img" src="img/icons/envelope-active.png" />
        </button>    
    </ion-header-bar>
    <ion-content>
        <div class="list" ng-if="mode == 'Messages'">
            <ion-list class="listHome">
                <ion-item class="item" ng-click="goTo('message/' + conversation.key)" ng-repeat="conversation in conversations| orderBy:'-updatedAt'">
                    <div>
                        <img class="img-user-default" ng-if="!conversation.userProfile.profile_picture" src="img/newuser.png"/>
                        <img class="img-user-search" ng-if="conversation.userProfile.profile_picture" ng-src="{{conversation.userProfile.profile_picture}}"/>
                        <span class="item-note">{{conversation.updatedAt | amCalendar}}
                        </span>
                        <p>{{conversation.userProfile.name}}</p>
                        <p class="item-two-line">{{conversation.lastMessage}}</p>
                        <ion-icon ng-if="hasUpdates(conversation)" name="car" style="top: 50%;right: 10px;" class="icon-has-updates ion-ios-bell"></ion-icon>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div class="list" ng-if="mode == 'Compose'">
            <div class="item-input-inset item-search-input">
                <label class="item-input-wrapper">
                    <i class="icon ion-search placeholder-icon">
                    </i>
                    <input ng-model="search" placeholder="{{'search'| translate}}" type="search">
                    </input>
                </label>
                <button class="button-clear title-page-color button-input-close" ng-click="friendSearch = undefined">
                    <i class="icon ion-android-close">
                    </i>
                </button>
            </div>
            <ion-list class="listHome">
                <ion-item class="item" ng-click="goTo('message/' + user.conversation)" ng-if="user.userProfile && user.userProfile.name" ng-repeat="user in $root.listFriends | searchField: 'name': 'email' | filter: search | orderBy: 'updatedAt'">
                    <img class="img-user-default" ng-if="!user.userProfile.profile_picture" src="img/newuser.png"/>
                    <img class="img-user-search" ng-if="user.userProfile.profile_picture" ng-src="{{user.userProfile.profile_picture}}"/>
                    <span class="item-note">Membre&nbsp;<span am-time-ago="user.userProfile.createdAt" class="item-note"></span></span>
                    <div>
                        <p>{{user.userProfile.username}}</p>
                        <p>{{user.userProfile.email}}</p>
                         <div style="text-align: left;" class="notes-img">
                            <img ng-src="img/icons/notes_{{$root.listUsers[user.userProfile.key].note ? $root.listUsers[user.userProfile.key].note : 0}}.png" />
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
    <div ng-include="" src="'templates/footer.html'">
    </div>
</ion-view>
