<ion-view cache-view="false" view-title="Setting">
    <ion-header-bar align-title="center" class="header-pages" ng-click="scrollTop()">
        <div class="buttons">
            <button class="button button-clear btn-clean" ng-click="goTo(priviousUrl)">
                <i class="icon ion-android-arrow-back">
                </i>
            </button>
        </div>
        <h1 class="title">
            {{'MYPROFIL'| translate}}
        </h1>
        <button class="button button-clear btn-clean" ng-click="popover.show($event)">
            <i class="icon ion-android-more-vertical ion-more-vertical">
            </i>
        </button>
    </ion-header-bar>
    <ion-content>
        <img ng-click="takePicture()" ng-if="!profilPic" src="img/icons/myprofil.png" style="width: 100%"/>
        <div class="profil-pic" ng-if="profilPic">
            <button class="button-icon" ng-click="takePicture()">
                <i class="icon ion-ios-camera">
                </i>
            </button>
            <img ng-click="enlargeImage(profilPic)" ng-src="{{profilPic}}"/>
        </div>
        <form name="forms.currentForm" ng-submit="hideKeyboard()">
        <div class="list padding-top" style="height: 600px;background: rgba(255, 255, 255, 0.56);">
            <label class="item item-input">
                <span class="input-label color-label">
                    {{'EMAIL'| translate}}
                </span>
                <input class="text-right" ng-model="email" readonly="" type="text">
                </input>
            </label>
            <label class="item item-input">
                <span class="input-label color-label">
                    {{'Pseudonyme'| translate}}
                </span>
                <input class="text-right" name="username" ng-if="username" ng-model="username" type="text">
                </input>
            </label>
            <label class="item item-input">
                <span class="input-label color-label">
                    {{'Nom'| translate}}
                </span>
                <input class="text-right" name="name" ng-model="name" type="text">
                </input>
            </label>
            <label class="item item-input">
                <span class="input-label color-label">
                    {{'Prénom'| translate}}
                </span>
                <input class="text-right" name="firstname" ng-model="firstname" type="text">
                </input>
            </label>
            <label class="item item-input">
                <span class="input-label color-label">
                    {{'PHONE'| translate}}
                </span>
                <input class="text-right" name="phone" ng-model="phone" type="text">
                </input>
            </label>
            <label class="item item-input">
                <span class="input-label color-label">
                    {{'ADDRESS'| translate}}
                </span>
                <input class="text-right" name="address" ng-model="address" type="text">
                </input>
            </label>                
            <div class="button-bar padding">
               <button class="button button-energized " ng-click="myActionMenu()" ng-if="forms.currentForm.$dirty">
                  {{'SAVE'| translate}}
              </button>
              <button class="button button-positive " ng-click="showVideos()" ng-if="!showVideo">
                  {{'SELECT_PROFILE_VIDEO_ACTION'| translate}}
              </button>
            </div>
        </div>
        </form>
    </ion-content>
    <div ng-include="" src="'templates/footer.html'"></div>
    <script id="templates/selectVideos.html" type="text/ng-template">
      <ion-view>
        <ion-header-bar align-title="center" class="header-pages">
        <button class="button button-positive" ng-click="saveVideos()">{{ 'SAVE' | translate }}</button>
        <h1 class="title">{{'SELECT_PROFILE_VIDEO_TITLE'| translate}}</h1>
        <button class="button button-clear btn-clean" ng-click="close()"><i class="icon ion-ios-close-outline"></i></button>
      </ion-header-bar>
      <ion-content>
        <div class="list card" ng-repeat="video in allVideos = ( videos | concat:receiptvideos )|omit: 'owner_delete === 1 || recieve_delete === 1'| searchField: 'title': 'receipt_name'|filter: friendSearch|orderObjectByDate">
          <div class="item item-avatar">
            <img ng-src="{{ $root.listUsers[video.ownerUid].profile_picture }}">
            <h2>{{video.title}}</h2>
            <p>{{video.owner_name}}</p>
            <img style="height: 15px;" ng-src="img/icons/notes_{{video.note ? video.note : 0}}.png" />
          </div>

          <div ng-click="openVideo(video)" ng-style="{'background-image': 'url(' + video.thumb +')'}" class="covert-proof item item-image" style="height: 200px;background-size: cover;background-repeat: : no-repeat;background-position: center;">
           <img style="top: 40%;width: 20px;position: absolute;" class="play" src="img/icons/play.png" />
          </div>
          <ion-checkbox class="positive" ng-model="selected_proof[video.key]">Affichez sur votre profile</ion-checkbox>
        </div>
      </ion-content>
    </ion-view>
    </script>

    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view>
      <ion-content>
        <div class="list">
          <a class="item" ng-click="showProfil()" target="_blank">
            Visualiser mon profil
          </a> 
          <a class="item" ng-click="resetPassword()" target="_blank">
            Réinitialiser mon mot de passe
          </a>
        </div>
      </ion-content>
    </ion-popover-view>
    </script>
</ion-view>
