<ion-view view-title="Setting" cache-view="false">
    <ion-header-bar align-title="center" class="header-pages">
        <div class="buttons">
          <button class="button button-clear btn-clean" ng-click="goTo('setting')"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">{{'MYSUBSCRIPTION'| translate}}</h1>
        <button class="button button-clear btn-clean" ng-click="goTo('home')"><i class="icon ion-ios-close-outline"></i></button>        
    </ion-header-bar>
    <ion-content >
        <div class="list">
            <div>
                <div class="item item-text-wrap" style="height: 74px;">
                    <div style="float: left">
                        <p style='color: #0a73d2;font-size: 17px;'>{{$root.currentFormula.name}}</p>
                    </div>
                    <div style="color: #000;float: right;font-weight: bold;font-size: 14px;">{{$root.currentFormula.price.month}}{{$root.currentFormula.price.currency}}/mois</div><br/>
                    <div style="color: #000;float: right;font-weight: bold;font-size: 14px;">{{$root.currentFormula.price.year}}{{$root.currentFormula.price.currency}}/an</div>
                </div>
                <div style="padding: 30px;">
                    <ul class='list-subsc'>
                        <li><p><b>{{$root.currentFormula.nbr_proof-$root.currentProfile.subscription.remaining_proofs}}</b>/{{$root.currentFormula.nbr_proof}} Preuves envoyées Par mois.</p></li>                        
                        <li><p>Durée de Capture {{$root.currentFormula.capture_duration}} minutes par vidéo.</p></li>
                        <li><p>Durée de Preuve Limitée à {{$root.currentFormula.storage_duration}} Jours.</p></li>
                        <li><p><b>{{$root.currentFormula.nbr_photos-$root.currentProfile.subscription.remaining_photos}}</b>{{$root.currentFormula.nbr_photos != 9999 ? '/' + $root.currentFormula.nbr_photos : ''}} photos envoyées lors de la finalisation de vos envois.</p></li>
                        <li><p>Nombre d’affichage limité à {{$root.currentFormula.nbr_profile_video}} preuves sur son profil, le temps de la durée limité.</p></li>
                        <li><p>Suivi de Colis (Expédition – Acheminement – Colis reçu)</p></li>
                        <!-- <li><p>Téléchargement limitées à 3 Photos.</p></li> -->
                        <li><p>Messagerie instantanée.</p></li>
                    </ul>
                </div>
            </div>  
             <div class="button-bar padding">  
                <button ng-if="$root.currentFormula.id !== 'free'" class="button button-assertive" ng-click="unsubscribre()" >
                    {{'UNSUBSCRIBE' | translate}}
                </button>            
                <button class="button button-positive" ng-click='goTo("formulas")'>
                    {{'CHANGE_FORMULE'| translate}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
