<ion-view view-title="Dashboard" class="bg-public" cache-view="false">
    <div id="custom-overlay"><img src="img/loading.gif"/></div>
    <img src="img/icons/zeokay.png" style="display: none;" />
    <img src="img/icons/zeokay-red.png" style="display: none;" />
    <img src="img/icons/send-btn.png" style="display: none;" />
    <img src="img/icons/inbox-btn.png" style="display: none;" />
    <ion-content class="padding ">
        <p class="title-dashboard"><span>{{'DASHBOARD_TITLE' | translate}}</span></p>
        <ion-slide-box show-pager="true" does-continue="true" ng-if="showSlider">
            <ion-slide ng-repeat="slide in sliders">
                <img class="item-slider" ng-src="{{slide.image}}">
                <div>
                    <p class="text-slider">
                        <span class="title-item">{{slide.title}}</span>
                        <span class="text-item">{{slide.description}}</span>
                    </p>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div style="min-height: 190px;width: 100%" ng-if="!showSlider"></div>
        <button class="button button-block login-btn" ng-click="goTo('login')">
            {{'LOGIN' | translate}}
        </button>
    </ion-content>
</ion-view>

