<ion-modal-view>
    <ion-header-bar class="bar bar-header header-pages">
        <button class="button button-primary" ng-click="modal.hide()">Fermer</button>
    </ion-header-bar>
    <ion-content class="padding">
	<videogular class="centered" vg-player-ready="controller.onPlayerReady($API)" vg-theme="controller.config.theme.url">
        <vg-media vg-src="controller.config.sources"
                  vg-tracks="controller.config.tracks">
        </vg-media>

        <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
            <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>

        <vg-overlay-play></vg-overlay-play>
        <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>

        <div class="my-logo-layer" ng-show="controller.API.currentState != 'play'">
            <img src="http://www.videogular.com/img/videogular.png">
        </div>
    </videogular>
       
    </ion-content>
</ion-modal-view>
