<ion-view view-title="Proof" class='item-animate' cache-view="false">
    <ion-header-bar align-title="center" class="hcovert-proof header-pages white">
        <div class="buttons">
            <button class="button button-clear btn-clean" ng-click="goTo('home')"><i
            class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title" ng-click="scrollTop()">{{infoVideo.title}}</h1>
        <div class="buttons">
            <button class="button button-icon ion-android-more-vertical" ng-click="popover.show($event)" style="margin-top: -2px;">
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="header-video" on-long-press="scrollBottom()" long-press-duration="300" on-scroll="hScroll(this)" has-bouncing="true" overflow-scroll="false" style="background-image: url({{firstThumb ? firstThumb : 'img/proof_covert.png'}})">
        <div class="covert-proof header-pages" style="background: transparent;position: relative;">
            <div class='covert-proof' ng-click="enlargeImage(firstThumb)"></div>
            <time class="time" style="color: rgba(255, 255, 255, 0.9);padding: 5px;bottom: 5px;position: relative;font-size: 94%;">Envoyée le <span>{{infoVideo.createdAt | amCalendar}}</span></time>
            <time ng-if="infoVideo.archiveAt" class="time" style="color: rgba(255, 255, 255, 0.9);bottom: -15px;margin-right: 5px;font-size: 94%;white-space: nowrap;right: 2px;position: absolute;">Jusqu'au {{ infoVideo.archiveAt | amCalendar}}</time>
            <div id="bgnext" class="bgnext" style="text-align: center;text-align: center;background: #f7f7f7;margin-top: -6px;height: 109px;">
                <img ng-if='!avatarProfile.profile_picture' class='new-user-default' src="img/newuser.png" />
                <img ng-click="goTo('user/' + avatarProfile.key)" ng-if='avatarProfile.profile_picture' class='new-user-pic'  ng-src="{{avatarProfile.profile_picture}}" />
            </div>
        </div>
        <p ng-if="sendUser" class="name-user">{{avatarProfile.name}}</p>
        <div ng-if="sendUser" class="notes-img">
            <img ng-src="img/icons/notes_{{avatarProfile.note ? avatarProfile.note : 0}}.png" />
        </div>
        <div id="content" style="background: #fff;width: 100%;" ng-style="getMinHeight()">
            <div style="padding: 10px;">
                <div style="clear:both"></div><br />

                <ion-item ng-repeat="proofInfo in proofInfos| orderBy:'updatedAt'" class="item messages " style="border: none">
                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'video'">
                        <div class="msg videothumb" ng-click="openVideo(proofInfo)">
                            <img style="max-width: 265px;max-height: 150px;width: 100px;height: 100px;border: 1px solid;" ng-src="{{proofInfo.thumb}}" />

                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>
                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'video_response'">
                        <div class="msg videothumb" ng-click="openVideo(proofInfo)">
                            <img style="max-width: 265px;max-height: 150px;border: 1px solid;width: 100px;height: 100px;" ng-src="{{proofInfo.thumb}}" />
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>
                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'confirm_send_colis'">

                        <div ng-if="proofInfo.fromId != $root.currentUser.uid" class="avatar" ng-click="goTo('user/' + proofInfo.fromId)">
                            <img src="img/newuser.png" ng-if='!proofInfo.profile.profile_picture' />
                            <img ng-if='proofInfo.profile.profile_picture' ng-src="{{proofInfo.profile.profile_picture}}" />
                        </div>
                        <div class="msg">
                            <p><i class="ion-ios-checkmark-outline"></i>&nbsp; Colis envoyé<span ng-if="proofInfo.colisInfo">, détail colis : <br />{{proofInfo.colisInfo}}</span></p>
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>
                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'confirm_proof_recept'">

                        <div ng-if="proofInfo.fromId != $root.currentUser.uid" class="avatar" ng-click="goTo('user/' + proofInfo.fromId)">
                            <img src="img/newuser.png" ng-if='!proofInfo.profile.profile_picture' />
                            <img ng-if='proofInfo.profile.profile_picture' ng-src="{{proofInfo.profile.profile_picture}}" />
                        </div>
                        <div class="msg">
                            <p><i class="ion-ios-checkmark-outline"></i>&nbsp; La preuve de réception est confirmée !</p>
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>
                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'confirm_proof_recept'">
                        <div ng-if="proofInfo.fromId != $root.currentUser.uid" class="avatar" ng-click="goTo('user/' + proofInfo.fromId)">
                            <img src="img/newuser.png" ng-if='!proofInfo.profile.profile_picture' />
                            <img ng-if='proofInfo.profile.profile_picture' ng-src="{{proofInfo.profile.profile_picture}}" />
                        </div>
                        <div class="msg">
                            <p><i class="ion-ios-checkmark-outline"></i>&nbsp; L'échange est réussi !</p>
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>
                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'refuse_proof_recept'">

                        <div ng-if="proofInfo.fromId != $root.currentUser.uid" class="avatar" ng-click="goTo('user/' + proofInfo.fromId)">
                            <img src="img/newuser.png" ng-if='!proofInfo.profile.profile_picture' />
                            <img ng-if='proofInfo.profile.profile_picture' ng-src="{{proofInfo.profile.profile_picture}}" />
                        </div>
                        <div class="msg">
                            <p><i class="ion-ios-checkmark-outline"></i>&nbsp; La preuve de réception est déclinée : {{proofInfo.refuseInfo}}</p>
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>

                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'refuse_proof_recept'">

                        <div ng-if="proofInfo.fromId != $root.currentUser.uid" class="avatar" ng-click="goTo('user/' + proofInfo.fromId)">
                            <img src="img/newuser.png" ng-if='!proofInfo.profile.profile_picture' />
                            <img ng-if='proofInfo.profile.profile_picture' ng-src="{{proofInfo.profile.profile_picture}}" />
                        </div>
                        <div class="msg">
                            <p><i class="ion-ios-checkmark-outline"></i>&nbsp; Echange échoué !</p>
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>

                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'confirm_colis_recept'">
                        <div ng-if="proofInfo.fromId != $root.currentUser.uid" class="avatar" ng-click="goTo('user/' + proofInfo.fromId)">
                            <img src="img/newuser.png" ng-if='!proofInfo.profile.profile_picture' />
                            <img ng-if='proofInfo.profile.profile_picture' ng-src="{{proofInfo.profile.profile_picture}}" />
                        </div>
                        <div class="msg">
                            <p><i class="ion-ios-checkmark-outline"></i>&nbsp; Le colis est validé !</p>
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>

                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'refuse_colis_recept'">
                        <div ng-if="proofInfo.fromId != $root.currentUser.uid" class="avatar" ng-click="goTo('user/' + proofInfo.fromId)">
                            <img src="img/newuser.png" ng-if='!proofInfo.profile.profile_picture' />
                            <img ng-if='proofInfo.profile.profile_picture' ng-src="{{proofInfo.profile.profile_picture}}" />
                        </div>
                        <div class="msg">
                            <p><i class="ion-ios-checkmark-outline"></i>&nbsp; Le colis est décliné : {{proofInfo.refuseInfo}}</p>
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>

                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'confirm_recept_colis'">

                        <div ng-if="proofInfo.fromId != $root.currentUser.uid" class="avatar" ng-click="goTo('user/' + proofInfo.fromId)">
                            <img src="img/newuser.png" ng-if='!proofInfo.profile.profile_picture' />
                            <img ng-if='proofInfo.profile.profile_picture' ng-src="{{proofInfo.profile.profile_picture}}" />
                        </div>
                        <div class="msg">
                            <p> <i class="ion-ios-checkmark-outline"></i>&nbsp; Colis reçu !</p>
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>
                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}">
                        <div class="msg" ng-if="proofInfo.type == 'photo'">

                            <img ng-src='{{proofInfo.url}}' imageonload="scrollBottom()" alt='' ng-click="enlargeImage(proofInfo.url)" />
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>
                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'message'">
                        <div ng-if="proofInfo.fromId != $root.currentUser.uid" class="avatar" ng-click="goTo('user/' + proofInfo.fromId)">
                            <img src="img/newuser.png" ng-if='!proofInfo.profile.profile_picture' />
                            <img ng-if='proofInfo.profile.profile_picture' ng-src="{{proofInfo.profile.profile_picture}}" />
                        </div>
                        <div class="msg">
                            <p> {{proofInfo.message}}</p>
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>
                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'validate'">

                        <div ng-if="proofInfo.fromId != $root.currentUser.uid" class="avatar" ng-click="goTo('user/' + proofInfo.fromId)">
                            <img src="img/newuser.png" ng-if='!proofInfo.profile.profile_picture' />
                            <img ng-if='proofInfo.profile.profile_picture' ng-src="{{proofInfo.profile.profile_picture}}" />
                        </div>
                        <div class="msg">
                            <p> <i class="ion-ios-checkmark-outline"></i>&nbsp; La preuve est validée</p>
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>
                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'refuse'">

                        <div ng-if="proofInfo.fromId != $root.currentUser.uid" class="avatar" ng-click="goTo('user/' + proofInfo.fromId)">
                            <img src="img/newuser.png" ng-if='!proofInfo.profile.profile_picture' />
                            <img ng-if='proofInfo.profile.profile_picture' ng-src="{{proofInfo.profile.profile_picture}}" />
                        </div>
                        <div class="msg">
                            <p> <i class="ion-ios-checkmark-outline"></i>&nbsp; La preuve est déclinée : {{proofInfo.refuseInfo}}</p>
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>
                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'notation'">

                        <div ng-if="proofInfo.fromId != $root.currentUser.uid" class="avatar" ng-click="goTo('user/' + proofInfo.fromId)">
                            <img src="img/newuser.png" ng-if='!proofInfo.profile.profile_picture' />
                            <img ng-if='proofInfo.profile.profile_picture' ng-src="{{proofInfo.profile.profile_picture}}" />
                        </div>
                        <div class="msg">
                            <p><i class="ion-ios-checkmark-outline"></i>&nbsp;La notation de cette preuve est : {{proofInfo.notation}} / 5<br />{{proofInfo.notationInfo}}</p>
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>
                    <div class="{{proofInfo.fromId != $root.currentUser.uid ? 'self' : 'other'}}" ng-if="proofInfo.type == 'notation_owner'">

                        <div ng-if="proofInfo.fromId != $root.currentUser.uid" class="avatar" ng-click="goTo('user/' + proofInfo.fromId)">
                            <img src="img/newuser.png" ng-if='!proofInfo.profile.profile_picture' />
                            <img ng-if='proofInfo.profile.profile_picture' ng-src="{{proofInfo.profile.profile_picture}}" />
                        </div>
                        <div class="msg">
                            <p><i class="ion-ios-checkmark-outline"></i>&nbsp;La notation du vendeur pour cette preuve est : {{proofInfo.notation}} / 5<br />{{proofInfo.notationInfo}}</p>
                            <time>
                                <i class="icon ion-clock"></i>&nbsp;<span>{{proofInfo.updatedAt | amCalendar}}</span>
                            </time>
                        </div>
                    </div>
                </ion-item>
                <button class="button button-block login-btn btn-proof" ng-click="validateProof()" ng-if="loaded && !hasRefuseStatus && !hasAcceptStatus && firstVid.ownerUid != $root.currentUser.uid">
                        Confirmer la preuve
                </button>
                <button class="button button-block login-btn btn-proof" ng-click="confirmeSendColis()" ng-if="(hasRefuseStatus || hasAcceptStatus) && !confirmSendColis && firstVid.ownerUid == $root.currentUser.uid">
                        Confirmer l'envoi de colis
                </button>
                <button class="button button-block login-btn btn-proof" ng-click="confirmeReceptColis()" ng-if="confirmSendColis && !confirmReceptColis && firstVid.ownerUid != $root.currentUser.uid">
                        Confirmer la récéption du colis
                </button>
                <button class="button button-block login-btn btn-proof" ng-click="videoRecept()" ng-if="confirmReceptColis && !hasResponseVideo && firstVid.ownerUid != $root.currentUser.uid">
                        Filmer la preuve de récepion
                </button>
                <button class="button button-block login-btn btn-proof" ng-click="confirmProofRecept()" ng-if="(confirmProofRecep === false) && (hasResponseVideo === true) && (firstVid.ownerUid == $root.currentUser.uid)">
                        Confirmer la preuve de récéption
                </button>
                <button class="button button-block login-btn btn-proof" ng-click="showNotation()" ng-if="(confirmProofRecep === true) && (hasNotation === false) && (firstVid.ownerUid != $root.currentUser.uid)">
                        Donner une notation
                </button>
                <button class="button button-block login-btn btn-proof" ng-click="showNotation()" ng-if="(confirmProofRecep === true) && (hasOwnerNotation === false) && (firstVid.ownerUid == $root.currentUser.uid)">
                        Donner une notation
                </button>                
                <p style="margin-bottom: 100px;clear: both"></p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar ng-if="activeMsgDiv" keyboard-attach class="item-input-inset bar-light msg-footer-bar" ng-click="scrollBottom()">
        <button ng-click="takePicture()" class="button button-clear btn-send"><i class="icon ion-ios-camera-outline"></i></button>
        <label class="item-input-wrapper">
          <input type="text" placeholder="{{'ENTER_MSG'| translate}}" ng-model="message" >
        </label>
         <button class="button button-clear btn-send" type="submit" ng-click="sendMessage(message)">
          <span ng-if="message" class="icon ion-paper-airplane"></span>
          <span ng-if="!message" class="icon ion-ios-close-outline"></span>
        </button>
    </ion-footer-bar>
    <div ng-if="!activeMsgDiv" ng-include src="'templates/footer.html'"></div>
</ion-view>
<script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-content>
            <div class="list">
                <a class="item" ng-click="showNotation()" style="display: none" target="_blank" ng-if="showNotationMenu">Noter la prestation</a>
                <a class="item" ng-click="goToDownload()" target="_blank">Télecharger</a>
                <a class="item" ng-click="deleteProof()" target="_blank">Supprimer</a>
                <a class="item" ng-click="close()" target="_blank">Quitter</a>
            </div>
        </ion-content>
    </ion-popover-view>
</script>