<ion-view cache-view="true" view-title="Help" class="header-cgv">
    <ion-header-bar align-title="center" class="bar bar-dark tansparent">
        <div class="buttons">
            <button class="button button-clear" ng-click="goTo(priviousUrl)">
                <i class="icon ion-android-arrow-back">
                </i>
            </button>
        </div>
        <h1 class="title">
            {{'CGV'| translate}}
        </h1>
        <button class="button button-clear" ng-click="goTo('home')">
            <i class="icon ion-ios-close-outline">
            </i>
        </button>
    </ion-header-bar>
    <ion-content has-bouncing="false" overflow-scroll="true">
        <div class="wpb_wrapper">
            <div class="pitch text-center" id="concept">
                <div class="container">
                    <div class="entry-content">
                        <h1 style="text-align: center;">
                            Mentions Légales
                        </h1>
                        <p>
                        </p>
                        <p>
                            Le site et l’application sont éditées par L’entreprise CHARFEDDINE, immatriculée au registre du commerce et des sociétés de Paris sous le numéro 820 756 575 RCS Evry.
                        </p>
                        <p>
                            Siège social : 1 Avenue Jean Coquelin – 91170 Viry-Châtillon.
                        </p>
                        <p>
                            L’application ZeOkay, ci-après dénommé « ZeOkay » propose un service de dépôt de Preuve et de consultation vidéo sur mobile plus spécifiquement destiné aux particuliers.
                        </p>
                        <p>
                            L’accès au Site sa consultation et son utilisation sont subordonnés à l’acceptation sans réserve des présentes Conditions Générales d’Utilisation de ZeOkay.
                        </p>
                        <p>
                            Monsieur CHARFEDDINE ZYED, CEO et Fondateur de l’application ZeOkay et propriétaire du Site.
                        </p>
                        <p>
                        </p>
                        <p>
                            <strong>
                                SITE WEB
                            </strong>
                        </p>
                        <p>
                            Développement web et Graphisme
                        </p>
                        <p>
                            SPLIT INTERACTIVE
                        </p>
                        <p>
                            3 rue Stephenson 75018 paris
                        </p>
                        <p>
                            contact@split-interactive.com
                        </p>
                        <p>
                        </p>
                        <p>
                            <strong>
                                HEBERGEMENT
                            </strong>
                        </p>
                        <p>
                            Le site est hébergé sur les matériels informatiques de :
                        </p>
                        <p>
                            OVH
                        </p>
                        <p>
                            SAS au capital de 10 059 500€
                        </p>
                        <p>
                            RCS Roubaix – Tourcoing 424 761 419 00045
                        </p>
                        <p>
                            Code APE 6202A
                        </p>
                        <p>
                            N° TVA : FR 22 424 761 419
                        </p>
                        <p>
                            2 rue Kellermann – 59100 ROUBAIX
                        </p>
                        <p>
                            Téléphone : 0899 701 761
                        </p>
                        <p>
                            Service client : +33 9 72 10 11 12
                        </p>
                        <p>
                        </p>
                        <p>
                            <strong>
                                CNIL
                            </strong>
                        </p>
                        <p>
                            Les informations recueillies sur le site sont nécessaires pour permettre à l’Utilisateur d’utiliser le Site, d’accéder à ses différentes fonctionnalités et/ou de traiter les demandes d’informations de l’Utilisateur.
                        </p>
                        <p>
                            La collecte et le traitement d’informations personnelles sont effectués au sein du présent site conformément à la loi n°78-17 du 6 janvier 1978, modifiée par la Loi n°2004-801 du 06 août 2004, en vertu de laquelle  l’utilisateur dispose d’un droit d’accès, de rectification et de suppression des données le concernant en écrivant à l’adresse suivante : CHARFEDDINE – ZeOkay – cellule CNIL – satisfaction clients – 1, avenue Jean Coquelin 91170 Viry-Châtillon ou un courriel à Hello@ZeOkay.com en précisant ses coordonnées (identité, adresse électronique, justificatif d’identité).
                        </p>
                        <p>
                            L’Utilisateur dispose également d’un droit d’opposition au traitement de ses données pour des motifs légitimes ainsi qu’un droit d’opposition à ce que ces données soient utilisées à des fins de prospection commerciale.
                        </p>
                        <p>
                            Les données à caractère personnel collectées sur le Site font l’objet d’un traitement en France.
                        </p>
                        <p>
                            Les Utilisateurs du Site sont tenus de respecter les dispositions de la loi relative à l’informatique, aux fichiers et aux libertés, dont la violation est passible de sanctions pénales.
                        </p>
                        <p>
                            Ils doivent notamment s’abstenir, s’agissant des informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée et, d’une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.
                        </p>
                        <p>
                            Les hyperliens présents sur le site permettent d’accéder à des sites susceptibles de recueillir des informations nominatives. Dès lors, il appartient à l’utilisateur de consulter les mentions légales de chacun de ces sites.
                        </p>
                        <p>
                        </p>
                        <p>
                            <strong>
                                RESPONSABILITÉS
                            </strong>
                        </p>
                        <p>
                            Bien que le propriétaire du site s’efforce raisonnablement de mettre à jour les informations publiées sur le site, il ne saurait être tenu pour responsable de toute erreur ou omission.
                        </p>
                        <p>
                            Le propriétaire du site ne saurait être tenu pour responsable des indirects qui pourraient résulter de l’accès au site ou de son utilisation, y compris de l’inaccessibilité, des pertes de données, détériorations, destructions ou virus qui pourraient affecter l’équipement informatique de l’utilisateur, et/ou de la présence de virus sur son site.
                        </p>
                        <p>
                        </p>
                        <p>
                            <strong>
                                PROPRIÉTÉ INTELLECTUELLE
                            </strong>
                        </p>
                        <p>
                            Tous les écrans, graphismes et autres informations présents sur le site sont la propriété du propriétaire du site ou font l’objet d’une autorisation d’utilisation par ce dernier. De ce fait, toute reproduction, modification, distribution de ces éléments est interdite sans l’accord préalable exprès et écrit de son propriétaire ou du tiers détenteur des droits d’exploitation.
                        </p>
                        <p>
                            Les marques et logos figurant sur ce site sont la propriété du Propriétaire du site ou font l’objet d’une autorisation d’utilisation par ce dernier. Toute reproduction ou représentation totale ou partielle de ces marques ou de ces logos, seules ou intégrées à d’autres éléments, sans l’autorisation expresse écrite et préalable du propriétaire ou du tiers détenteur des droits sur la marque ou le logo est prohibée et engagerait la responsabilité de l’utilisateur au sens des articles L.713-2 et L.713-3 du Code de la Propriété Intellectuelle.
                        </p>
                        <p>
                            Les images ou photographies de personnes ou de lieux figurant sur le site sont la propriété du propriétaire du site ou sont utilisées par ce dernier avec l’accord des titulaires des droits.
                        </p>
                        <p>
                            Certaines images ou photos utilisées proviennent de banques d’images libres de droits (Shutterstocks, Masterfile).
                        </p>
                        <p>
                            Dans les autres cas, l’utilisation de ces images ou photographies par des tiers est interdite sans autorisation spécifique préalable, écrite et expresse du propriétaire ou du tiers détenteur des droits d’exploitation.
                        </p>
                        <p>
                            Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations des images et des photographies.
                        </p>
                        <p>
                            <strong>
                                LIENS HYPERTEXTES
                            </strong>
                        </p>
                        <p>
                            Le site ZeOkay, son application ou ses blogs associés peuvent contenir des liens hypertextes donnant accès à d’autres sites web édités et gérés par des tiers et non par ZeOkay. L’entreprise ne pourra être tenue responsable directement ou indirectement dans le cas où lesdits sites tiers ne respecteraient pas les dispositions légales.
                        </p>
                        <p>
                            La création de liens hypertextes vers ou le site ZeOkay.com, une de ses pages ou vers un des blogs ou l’application ZeOkay associés ne peut être faite qu’avec l’autorisation écrite et préalable du dirigeant de ZeOkay.
                        </p>
                        <p>
                        </p>
                        <p>
                            <strong>
                                UTILISATION DE GOOGLE ANALYTICS
                            </strong>
                        </p>
                        <p>
                            Ce site est susceptible d’utiliser Google Analytics, un service d’analyse de site internet fourni par Google Inc. (« Google »). Google Analytics utilise des cookies pour aider le site internet à analyser l’utilisation du site par ses utilisateurs. Les données générées par ces cookies concernant votre utilisation du site (y compris votre adresse IP) seront transmises et stockées par Google sur des serveurs situés aux Etats-Unis. Google utilisera cette information dans le but d’évaluer votre utilisation du site, de compiler des rapports sur l’activité du site à destination de son éditeur et de fournir d’autres services relatifs à l’activité du site et à l’utilisation d’Internet. Google est susceptible de communiquer ces données à des tiers en cas d’obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris notamment l’éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre donnée détenue par Google.
                        </p>
                        <p>
                            Vous pouvez désactiver l’utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur. Cependant, une telle désactivation pourrait empêcher l’utilisation de certaines fonctionnalités de ce site. En utilisant ce site internet, vous consentez expressément au traitement de vos données nominatives par Google dans les conditions et pour les finalités décrites ci-dessus.
                        </p>
                        <p>
                        </p>
                        <p>
                            <strong>
                                UTILISATION D’AUTRES COOKIES
                            </strong>
                        </p>
                        <p>
                            Lors de la navigation sur notre site d’autres cookies peuvent être placés sur le disque de l’ordinateur de l’utilisateur afin d’enregistrer des informations relatives à sa navigation dans le site et en dehors. Ces cookies peuvent être liés aux opérations relatives à la publicité ciblée, être des cookies traceurs de réseaux sociaux générés par les « boutons de partage de réseaux sociaux » ou avoir pour but de signaler votre passage sur notre site à des fins statistiques. Les cookies utilisés à des fins statistiques ne nous permettent pas de vous identifier personnellement mais ils enregistrent des informations relatives à la navigation de votre ordinateur sur notre site (les pages que vous avez consultées, la date et l’heure de la consultation, etc.) que nous pourrons lire lors de vos visites ultérieures. Un cookie vous permet également si vous le souhaiter, d’éviter de ressaisir votre mot de passe à chaque connexion (il apparaît dans ce cas crypté et sécurisé). Le recueil des informations, par le biais de cookies, permet le bon fonctionnement des services en ligne ainsi que l’amélioration de ces derniers. Tous ces cookies ne contiennent pas d’informations sensibles.
                        </p>
                        <p>
                        </p>
                        <p>
                            <strong>
                                DROIT APPLICABLE
                            </strong>
                        </p>
                        <p>
                            Le droit applicable au présent site et à ses mentions légales est le droit français.
                        </p>
                        <p>
                        </p>
                        <p>
                            <strong>
                                MODIFICATION DES CONDITIONS
                            </strong>
                        </p>
                        <p>
                            Le Propriétaire du site se réserve le droit de modifier ou d’actualiser les présentes mentions légales à tout moment et sans information préalable des utilisateurs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </ion-content>
    <div ng-if="currentUser" ng-include src="'templates/footer.html'"></div>
</ion-view>
