<ion-view view-title="Login" class="bg-public" cache-view="false">
    <ion-content class="padding">
        <form name="loginForm">
            <p class="title-page" ng-class="{'padding-title-log' : showPadding}"><span>{{'LOGIN'| translate}}</span></p>
            <button class="button connect-fb" ng-click="facebookSignIn()">
                <img class="center-vertical" src="img/facebook.png" />
            </button>
            <button class="button connect-google" ng-click="googleplusLogin()">
                <img class="center-vertical" src="img/google.png" />
            </button>
            <p></p>
            <label class="item item-input item-floating-label label-email" ng-class="{'padding-input-log' : showPadding}">
                <span class="input-label">{{'EMAIL'| translate}} *</span>
                <input class="input-field" name="userEmail" capitalize required ng-pattern="/^.+@.+\..+$/" type="text" placeholder="{{'EMAIL'| translate}} *" ng-model="user.email">
            </label>
            <div ng-messages="loginForm.userEmail.$error" role="alert" ng-if='loginForm.userEmail.$dirty'>
                <div ng-message-exp="['required', 'pattern']" class='errorField'>
                    {{'email_error'| translate}}
                </div>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">{{'PASSWORD'| translate}} *</span>
                <input minlength="6" class="input-field" type="password" required name="password" placeholder="{{'PASSWORD'| translate}} *" ng-model="user.password">
            </label>
            <div ng-messages="loginForm.password.$error" role="alert" class='errorField' ng-if='loginForm.password.$dirty'>
                <div ng-message-exp="['required', 'minlength', 'pattern']">
                    {{'required_field_pass'| translate}}
                </div>
            </div>
            <button ng-class="{'padding-button-log' : showPadding}" class="button button-block login-btn connexion-btn" ng-click="loginEmail(user, loginForm)">
                {{'LOGIN'| translate}}
            </button>
        </form>
        <div class="center">
            <a href="" class="create-account-link" ng-click="goTo('reset-password')">{{'FORGET_PASSWORD'| translate}}</a>
        </div><br />
        <div class="center">
            <a href="" ng-click="goTo('register')" class="create-account-link">{{'CREATE_ACCOUNT'| translate}}</a>
        </div>
    </ion-content>
</ion-view>