<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
       
        <button class="button button-clear button-primary" ng-click="modal.hide()">Fermer</button>
    </ion-header-bar>
    <ion-content class="padding" style="text-align: center">
	<img style="margin: 0 auto" ng-src="{{$root.linkPic| trustAsResourceUrl}}" />
    </ion-content>
</ion-modal-view>
